@import components/mixins
@import components/header
@import components/header-menu

*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style: none
html
    font-size: 1px

body
    font-family: Montserrat
    color: #121212

.wrapper
    max-width: 90%
    margin: 0 auto

.d-none
    display: none

.d-flex
    display: flex

.flex-between
    display: flex
    justify-content: space-between

.item-center
    align-items: center

.position-center
    position: absolute
    top: 50%
    transform: translateY(-50%)

.gray-bgc
    background-color: #F1F1F1

.social-icon,
.header-btn
    column-gap: 10rem

.social-icon
    a
        transition: all .5s ease
        &:hover
            filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25))
.baner-main
    padding: 30px 0 100px

.hero
    position: relative
    width: 100vw
    height: 100vh
    background: url(../img/baner.jpg) no-repeat center/cover
.proposition
    left: 10%
    p
        text-transform: uppercase
    p:first-child
        color: #214498
        font-size: 128px
        font-weight: 900
        letter-spacing: 6.4px
    p:nth-child(2)
        margin-bottom: 50rem
        font-size: 36px
        font-weight: 700

.yellow-cta
    padding: 25px
    max-width: 280px
    display: block
    color: #121212
    text-align: center
    font-size: 16px
    font-weight: 700
    background-color: #FDF028
    letter-spacing: 0.8px
    text-transform: uppercase
    transition: all .25s ease
    &:hover
        color: #fff
        background-color: #214498

h2
    margin-bottom: 63rem
    color: #121212
    text-align: center
    font-size: 48px
    font-weight: 700
    text-transform: uppercase
.perevagi
    padding-bottom: 100rem
    div
        column-gap: 13px
    p
        max-width: 180px
        font-size: 18px
        font-weight: 600
        text-transform: uppercase

.popular
    padding: 90px 0 100px
    background: rgba(241, 241, 241, 0.30)
    p
        min-width: 150px
        text-align: center
    picture
        display: inline-block
        width: 130px
        height: 130px
        border-radius: 50%
        border: 2px solid
        overflow: hidden
        img
            width: 100%
            object-fit: contain
            object-position: center
    span
        text-align: center
        font-size: 20px
        font-weight: 500
        +media(1440)
            font-size: 24px

.popular-elements
    column-gap: 15rem
@import components/footer
