@import components/mixins
@import components/header
@import components/header-menu

*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-decoration: none
    list-style: none
html
    font-size: 0.8px
    scroll-behavior: smooth
    +media(1024)
        font-size: 1px
    +media(2200)
        font-size: 2px

body
    font-family: Montserrat
    color: #121212

.wrapper
    max-width: 85%
    margin: 0 auto

.d-none
    display: none

.d-flex
    display: flex

.flex-between
    display: flex
    justify-content: space-between

.item-center
    align-items: center

.position-center
    position: absolute
    top: 50%
    transform: translateY(-50%)

.gray-bgc
    background-color: #F1F1F1

.social-icon,
.header-btn
    column-gap: 10rem

.social-icon
    a
        transition: all .5s ease
        &:hover
            filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25))
.arrow
    display: block
    position: fixed
    bottom: 20px
    right: 20px
    width: 45px
    height: 45px
    background-color: #214498
    border-radius: 50%
    transition: all .25s ease
    cursor: pointer
    z-index: 25
    +media(1024)
        width: 60px
        height: 60px
    &:hover
        background-color: #FDF028
    svg
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
.arrow-up
    bottom: 70px
    +media(1024)
        bottom: 90px
.flex-arrow
    flex-direction: column
.main
    padding: 30px 0 100px

.main-bg
    position: relative
    width: 100vw
    height: 100vh
    background: url(../img/main-bg.jpg) no-repeat center/cover
.new-colection
    +media(1024)
        left: 10%
    p
        text-transform: uppercase
    p:first-child
        color: #214498
        font-size: 68px
        font-weight: 900
        letter-spacing: 6.4px
        +media(768)
            font-size: 128px
    p:nth-child(2)
        margin-bottom: 50rem
        font-size: 26px
        font-weight: 700
        +media(768)
            font-size: 36px

.yellow-cta
    padding: 25px
    max-width: 280px
    display: block
    color: #121212
    text-align: center
    font-size: 16px
    font-weight: 700
    background-color: #FDF028
    letter-spacing: 0.8px
    text-transform: uppercase
    transition: all .25s ease
    &:hover
        color: #fff
        background-color: #214498

h2, h1
    margin-bottom: 63rem
    color: #121212
    text-align: center
    font-size: 28px
    font-weight: 700
    text-transform: uppercase
    +media(768)
        font-size: 48px
.perevagi
    padding-bottom: 100rem
    div
        width: 100%
        gap: 30px
        flex-wrap: wrap
        +media(768)
            width: auto
        +media(1024)
            gap: 13px
            flex-wrap: nowrap
        picture
            display: inline-block
            min-width: 65px
            +media(1024)
                min-width: 50px
                max-width: 50px
            img
                width: 100%
    p
        max-width: 180px
        font-size: 18px
        font-weight: 600
        text-transform: uppercase

.popular
    padding: 90px 0 100px
    background: rgba(241, 241, 241, 0.30)
    a
        color: #121212
        display: block
        min-width: 130px
        text-align: center
        +media(768)
            min-width: 150px
            max-width: 170px
    picture
        display: inline-block
        width: 130px
        height: 130px
        border-radius: 50%
        border: 2px solid
        overflow: hidden
        &:hover
            img
                width: 115px
                height: 115px
                position: relative
                top: 50%
                left: 50%
                transform: translate(-55%, -50%)
                border-radius: 50%
                border-radius: 140px
                box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.15)
        &:hover
            ~ span
                font-size: 24px
                font-weight: 600
        img
            width: 100%
            object-fit: cover
            object-position: center
    span
        text-align: center
        font-size: 20px
        font-weight: 500
        transition: all .5s ease
        +media(1440)
            font-size: 24px

.popular-elements
    min-height: 170px
    gap: 15rem
    overflow: auto
    &::-webkit-scrollbar
        width: 100%
        height: 5px
        background-color: #ccc
    &::-webkit-scrollbar-thumb
        background-color: #929090

.top-prodaz
    padding: 100rem 0

.top-prodaz-card
    display: grid
    gap: 20px
    width: 100%
    padding-bottom: 50px
    +media(768)
        grid-template-columns: repeat(2, 1fr)
    +media(1024)
        grid-template-columns: repeat(4, 20vw)

.catalog-cta-center
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    a
        min-width: 300px
.footer-flex
    row-gap: 20rem
    flex-wrap: wrap
    +media(1024)
        flex-wrap: nowrap
.cancel-menu
    +media(1024)
        display: none
@import components/card-style
@import components/catalog-product-card
@import components/footer
