section.about-us-block#aboutUs.active-help.help-content
    .description-about-us
        h2 Про нас
        p Дешевше – це роздрібний інтернет-магазин. Ми пропонуємо нашим клієнтам унікальну лінійку товарів – одяг, взуття, білизна, аксесуари, сумки, рюкзаки, товари для дому та кухні, текстиль від українських та закордонних виробників. Менеджери Дешевше на українських та турецьких складах контролюють процес упаковки і якості товару перед відправкою, спілкуються із постачальниками напряму та домовляються про найвигіднішу ціну. 
        p.flag-order.flag-help Наша головна мета – низькі ціни на якісні товари.
    include top-prodaz
    .catalog-cta-center
        a(href="catalog.pug").yellow-cta в каталог