.cabinet-cart.basket-main.cabinet-cart-product
    .description-about-us.head-basket.flex-between.item-center
        h2 кошик
        p.text-cart 4 товари
    - for(let i = 0; i < 4; i++)
        include basket-card
