section.catalog-card
    .flex-between.item-center.header-catalog-card
        h1.catalog-head жіночий одяг
        .sort-select.item-center.d-flex
            p сортувати:
            label.arrow-select
                .select
                    input(type='hidden').select__input
                    .select__in за замовчуванням
                    .select__list
                        .select__item(data-value='2') ціна за спаданням
                        .select__item(data-value='3') ціна за зростанням
                        .select__item(data-value='4') за новизною
                        .select__item(data-value='5') за популярністю
    .container
        .catalog-container
            - for(let i = 0; i < 20; i++) 
                include catalog-card
        .catalog-cta-center
            .cta-more
                a(href="#") переглянути ще
        .item-center.d-flex.pagination
            a.pagination-button.to-start(href="#") 
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                    <path d="M7 13L1 7L7 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 13L6 7L12 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            a.pagination-button.cta-prev(href="#") 
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M7 13L1 7L7 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            a.pagination-button.page(href="#") 
                span 1
            a.pagination-button.page(href="#") 
                span 2
            a.pagination-button.page(href="#") 
                span 3
            a.pagination-button.page.current-page(href="#") 
                span 4
            a.pagination-button.page(href="#") 
                span 5
            a.pagination-button.page(href="#") 
                span 6
            a.pagination-button.cta-next(href="#")  
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M1 13L7 7L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            a.pagination-button.to-end(href="#")  
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                    <path d="M6 13L12 7L6 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 13L7 7L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>





