figure.card
    a(href="card.html")
    figcaption 
        .card-view-block.item-center
            .main-info-card.item-center
                .image-block-card
                    span.flag 
                        span new
                    picture
                        img(src="img/catalog-card.png", alt="") 
                form(action="#")
                    .haracteristic-block-card
                        .hover-card
                            h3 Шорти джинсові жіночі, колір блакитний
                            .color.d-flex.item-center
                                label
                                    input(type="radio", name="color" value="black" required)
                                label
                                    input(type="radio", name="color" value="red" disabled required)
                                label
                                    input(type="radio", name="color" value="blue" required)
                                label
                                    input(type="radio", name="color" value="gray" disabled required)
                                label
                                    input(type="radio", name="color" value="white" required) 
                            p.article Артикул: 83635337
                            .size.d-flex.item-center
                                p
                                    input(type="radio", name="size" id="xs" required)
                                    label(for="xs") xs
                                p
                                    input(type="radio", name="size" id="s" required)
                                    label(for="s") s
                                p
                                    input(type="radio", name="size" id="m" required)
                                    label(for="m") m
                                p
                                    input(type="radio", name="size" id="l" required)
                                    label(for="l") l
                                p
                                    input(type="radio", name="size" id="xl" required)
                                    label(for="xl") xl
                                p
                                    input(type="radio", name="size" id="xxl" required)
                                    label(for="xxl") xxl
                            p.d-flex.price-block.item-center
                                span.price 800₴
                                span.old-price 1200₴
                        button(type="submit" title="Купити в 1 клік").oneClickBtn
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 18" style="enable-background:new 0 0 15 15;" width="18" height="18" xml:space="preserve">
                                <g>
                                    <g>
                                        <path class="st0" d="M6.9,0.5c-0.1-0.1-0.2-0.1-0.4,0c-0.1,0-0.1,0.1-0.2,0.1H7C7,0.5,7,0.5,6.9,0.5z"/>
                                        <path class="st0" d="M7.2,1.3l-1.6,5C5.5,6.5,5.3,6.7,5.1,6.7c-0.1,0-0.1,0-0.2,0l-0.1,0v0C4.6,6.5,4.5,6.1,4.6,5.8l1.6-5 c0-0.1,0.1-0.2,0.2-0.3H7C7.2,0.7,7.3,1,7.2,1.3z"/>
                                    </g>
                                    <g>
                                        <path class="st0" d="M8.5,0.4c-0.1,0-0.3,0-0.4,0c0,0-0.1,0-0.1,0.1h0.7C8.6,0.5,8.5,0.5,8.5,0.4z"/>
                                        <path class="st0" d="M10.1,6.6c0,0-0.1,0.1-0.2,0.1c-0.2,0-0.4-0.2-0.5-0.4l-1.6-5C7.7,1,7.8,0.7,8,0.5h0.7 c0.1,0.1,0.1,0.2,0.2,0.3l1.6,5C10.5,6.1,10.4,6.5,10.1,6.6z"/>
                                    </g>
                                    <g>
                                        <path class="st0" d="M14.6,6v0.8c0,0.2,0,0.4-0.1,0.6C14.3,7.7,14,8,13.6,8.2c-0.4,0.1-1.6,0.1-2.3,0.1H2.6l0.7,4.9 c0,0.2,0.2,0.4,0.5,0.4h4.6c0.1,0.4,0.3,0.7,0.5,1c0,0,0.1,0.1,0.1,0.1H3.8c-0.2,0-0.5,0-0.7-0.1c-0.5-0.2-0.9-0.7-1-1.2L1.4,8.2 C1,8,0.7,7.7,0.5,7.4C0.5,7.2,0.4,7,0.4,6.8V6c0-0.2,0-0.4,0.1-0.6c0.2-0.5,0.8-0.8,1.4-0.8h1.9c0.3,0,0.6,0.2,0.6,0.5 c0,0.3-0.3,0.6-0.6,0.6H1.9C1.8,5.7,1.6,5.8,1.6,6v0.8c0,0.2,0.2,0.3,0.3,0.3h11.1c0.2,0,0.3-0.1,0.3-0.3V6c0-0.1-0.2-0.3-0.3-0.3 h-1.9c-0.3,0-0.6-0.2-0.6-0.6c0-0.3,0.3-0.5,0.6-0.5h1.9c0.6,0,1.2,0.3,1.4,0.8C14.5,5.6,14.6,5.8,14.6,6z"/>
                                        <path class="st0" d="M8,10.1v2.5c0,0.3-0.2,0.6-0.5,0.6S7,12.9,7,12.6v-2.5c0-0.3,0.2-0.6,0.5-0.6S8,9.7,8,10.1z"/>
                                        <path class="st0" d="M6,10.1v2.5c0,0.3-0.2,0.6-0.5,0.6S5,12.9,5,12.6v-2.5c0-0.3,0.2-0.6,0.5-0.6S6,9.7,6,10.1z"/>
                                    </g>
                                </g>
                                <path class="st0" d="M12.2,15.7c-1.9,0-3.5-1.6-3.5-3.5s1.6-3.5,3.5-3.5s3.5,1.6,3.5,3.5S14.2,15.7,12.2,15.7z M12.2,9.2 c-1.7,0-3,1.4-3,3s1.4,3,3,3s3-1.4,3-3S13.9,9.2,12.2,9.2z"/>
                                <g>
                                    <path class="st0" d="M12.4,10.7V12h1.2v0.3h-1.2v1.3H12v-1.3h-1.2V12H12v-1.3H12.4z"/>
                                </g>
                            </svg>
            .btn-view-block
                button(type='submit').blue-btn.submit-btn.orderCtaCard купити 
                button(type='submit').blue-btn.submit-btn.oneClick 
                    span купити в 1 клік
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                        <g clip-path="url(#clip0_695_15881)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.76995 6.43505C4.54495 6.33005 4.43995 6.01505 4.52995 5.74505L6.23995 0.345052C6.32995 0.0600517 6.58495 -0.0749483 6.79495 0.0450517C7.01995 0.150052 7.12495 0.465052 7.03495 0.735052L5.32495 6.13505C5.26495 6.34505 5.09995 6.48005 4.93495 6.48005C4.88995 6.48005 4.84495 6.48005 4.79995 6.46505C4.79995 6.45005 4.78495 6.45005 4.76995 6.43505Z" fill="white" stroke="white" stroke-width="0.3"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.675 6.13501L7.965 0.735008C7.875 0.465008 7.98 0.150008 8.205 0.0450078C8.415 -0.0749922 8.67 0.0450079 8.76 0.345008L10.47 5.74501C10.56 6.01501 10.455 6.33001 10.23 6.43501C10.185 6.46501 10.125 6.48001 10.065 6.48001C9.9 6.48001 9.735 6.34501 9.675 6.13501Z" fill="white" stroke="white" stroke-width="0.3"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.93506 12.96V10.26C4.93506 9.95997 5.11506 9.71997 5.35506 9.71997C5.59506 9.71997 5.79006 9.95997 5.79006 10.26V12.96C5.79006 13.26 5.59506 13.5 5.35506 13.5C5.11506 13.5 4.93506 13.26 4.93506 12.96Z" fill="white" stroke="white" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.06494 12.96V10.26C7.06494 9.95997 7.25994 9.71997 7.49994 9.71997C7.73994 9.71997 7.93494 9.95997 7.93494 10.26V12.96C7.93494 13.26 7.73994 13.5 7.49994 13.5C7.25994 13.5 7.06494 13.26 7.06494 12.96Z" fill="white" stroke="white" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.20996 12.96V10.26C9.20996 9.95997 9.40496 9.71997 9.64496 9.71997C9.88496 9.71997 10.065 9.95997 10.065 10.26V12.96C10.065 13.26 9.88496 13.5 9.64496 13.5C9.40496 13.5 9.20996 13.26 9.20996 12.96Z" fill="white" stroke="white" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 4.5H11.505C11.22 4.5 10.995 4.71 10.995 4.95C10.995 5.205 11.22 5.415 11.505 5.415H13.5C13.77 5.415 13.995 5.625 13.995 5.865V6.78C13.995 7.035 13.77 7.245 13.5 7.245H1.5C1.23 7.245 1.005 7.035 1.005 6.78V5.865C1.005 5.625 1.23 5.415 1.5 5.415H3.495C3.78 5.415 4.005 5.205 4.005 4.95C4.005 4.71 3.78 4.5 3.495 4.5H1.5C0.675 4.5 0 5.115 0 5.865V6.78C0 7.395 0.45 7.905 1.05 8.085L1.875 13.695C1.98 14.43 2.7 15 3.495 15H11.505C12.3 15 13.02 14.43 13.125 13.695L13.95 8.085C14.55 7.905 15 7.395 15 6.78V5.865C15 5.115 14.325 4.5 13.5 4.5ZM12.135 13.575C12.09 13.845 11.805 14.085 11.505 14.085H3.495C3.195 14.085 2.91 13.845 2.865 13.575L2.07 8.145H12.93L12.135 13.575Z" fill="white" stroke="white" stroke-width="0.3"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_695_15881">
                            <rect width="15" height="15" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
        