.comment 
    .flex-between.item-center.head-comment
        p Басенко Людмила
        p 2024-05-14
    .descript-comment 
        p Lorem ipsum dolor sit amet consectetur. Euismod sed a fames mattis pharetra orci at. Ut lectus amet nascetur diam. Sit dictum integer felis nunc. Facilisi massa ut nisl semper sagittis in dolor non. Lorem ipsum dolor sit amet consectetur. Euismod sed a fames mattis pharetra orci at. Ut lectus amet nascetur diam. Sit dictum integer felis nunc. Facilisi massa ut nisl semper sagittis in dolor non.Lorem ipsum dolor sit amet consectetur. Euismod sed a fames mattis pharetra orci at. Ut lectus amet nascetur diam. Sit dictum integer felis nunc. Facilisi massa ut nisl semper sagittis in dolor non. Lorem ipsum dolor sit amet consectetur. Euismod sed a fames mattis pharetra orci at. Ut lectus amet nascetur diam. Sit dictum integer felis nunc