hr.footer-hr
.footer.gray-bgc
    .wrapper.flex-between 
        nav
            p.footer-head Інформація
            ul 
                li
                    a(href="about-us.pug") Про нас
                li
                    a(href="pay-delivery.pug") Оплата та доставка
                li
                    a(href="povernenia.pug") Повернення та обмін
                li
                    a(href="answer.pug") Питання та відповіді
        nav 
            p.footer-head Каталог
            ul 
                li
                    a(href="#") Одяг
                li
                    a(href="#") Взуття
                li
                    a(href="#") Дітям
                li
                    a(href="#") Краса та здоровʼя
                li
                    a(href="#") Спорт та відпочинок
                li
                    a(href="#") Аксесуари
                li
                    a(href="#") Товари для дому
        .contact-bottom
            p.footer-head Контакти
            .contact
                p.d-flex
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 15C11.6421 15 15 11.6421 15 7.5C15 3.35786 11.6421 0 7.5 0C3.35786 0 0 3.35786 0 7.5C0 11.6421 3.35786 15 7.5 15ZM6.52776 6.12237C5.59282 7.10638 7.9686 9.46083 8.89998 8.48057C9.34677 8.01033 9.91063 8.36063 10.3735 8.64817C10.4481 8.69457 10.5202 8.73933 10.5887 8.77874C11.5747 9.34611 10.587 10.8986 9.72737 10.9834C6.97949 11.2546 4.14184 8.14589 4.00099 5.52267C3.95633 4.69082 5.42692 3.38313 6.09681 4.3303C6.13861 4.3894 6.18436 4.45099 6.23164 4.51465C6.58811 4.99461 7.03175 5.59193 6.52776 6.12237Z" fill="#214498"/>
                    </svg>
                    a(href="tel:+380000000000") +38 (000) 000 00 00 
                p.d-flex
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 15C11.6421 15 15 11.6421 15 7.5C15 3.35786 11.6421 0 7.5 0C3.35786 0 0 3.35786 0 7.5C0 11.6421 3.35786 15 7.5 15ZM11.4375 5.625C11.4375 5.31434 11.1857 5.0625 10.875 5.0625H4.125C3.81434 5.0625 3.5625 5.31434 3.5625 5.625V9.375C3.5625 9.68566 3.81434 9.9375 4.125 9.9375H10.875C11.1857 9.9375 11.4375 9.68566 11.4375 9.375V5.625ZM4.125 4.5C3.50368 4.5 3 5.00368 3 5.625V9.375C3 9.99632 3.50368 10.5 4.125 10.5H10.875C11.4963 10.5 12 9.99632 12 9.375V5.625C12 5.00368 11.4963 4.5 10.875 4.5H4.125ZM4.06721 6.07366C4.16012 5.97886 4.31468 5.97506 4.41243 6.06519L6.2204 7.73219C6.56746 8.01884 6.8115 8.21967 7.01834 8.35152C7.22061 8.48046 7.36187 8.52632 7.5 8.52632C7.63813 8.52632 7.77939 8.48046 7.98166 8.35152C8.1885 8.21967 8.43255 8.01884 8.77961 7.73219L10.5876 6.06519C10.6853 5.97506 10.8399 5.97886 10.9328 6.07366C11.0257 6.16847 11.0218 6.31838 10.9241 6.4085L9.11125 8.07997C9.10802 8.08294 9.10471 8.08583 9.10132 8.08863L9.08887 8.09891C8.75446 8.37513 8.48612 8.59678 8.24989 8.74737C8.00516 8.90338 7.76991 9 7.5 9C7.23009 9 6.99484 8.90338 6.75011 8.74737C6.51388 8.59678 6.24554 8.37513 5.91113 8.09891L5.89868 8.08863C5.89529 8.08583 5.89198 8.08294 5.88875 8.07997L4.07595 6.4085C3.9782 6.31838 3.97429 6.16847 4.06721 6.07366Z" fill="#214498"/>
                    </svg>
                    a(href="mailto:desevshe@gmail.com") desevshe@gmail.com
        .social.bottom 
            p.footer-head ми у соцмережах
            include social
        .privacyPolice
            p
                a(href="privacy.pug") Політика конфіденційності
            p.d-flex.item-center
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 0.9375C3.87563 0.9375 0.9375 3.87563 0.9375 7.5C0.9375 11.1244 3.87563 14.0625 7.5 14.0625C11.1244 14.0625 14.0625 11.1244 14.0625 7.5C14.0625 3.87563 11.1244 0.9375 7.5 0.9375ZM0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15 11.6421 11.6421 15 7.5 15C3.35786 15 0 11.6421 0 7.5Z" fill="#214498"/>
                    <path d="M7.57577 11C6.84936 11 6.22015 10.8833 5.68813 10.65C5.16635 10.408 4.76222 10.0667 4.47575 9.62593C4.18928 9.17654 4.03581 8.64074 4.01535 8.01852C4.00512 7.88889 4 7.71605 4 7.5C4 7.28395 4.00512 7.11111 4.01535 6.98148C4.03581 6.35926 4.18928 5.82778 4.47575 5.38704C4.76222 4.93765 5.16635 4.5963 5.68813 4.36296C6.22015 4.12099 6.84936 4 7.57577 4C8.16918 4 8.67562 4.06914 9.09509 4.20741C9.5248 4.34568 9.87777 4.52284 10.154 4.73889C10.4303 4.95494 10.6349 5.18827 10.7679 5.43889C10.9111 5.68951 10.9879 5.92716 10.9981 6.15185C11.0083 6.23827 10.9776 6.30741 10.906 6.35926C10.8344 6.41111 10.7474 6.43704 10.6451 6.43704H9.90847C9.80616 6.43704 9.72942 6.41975 9.67827 6.38519C9.62711 6.34198 9.57596 6.27284 9.5248 6.17778C9.34064 5.75432 9.08998 5.45617 8.77281 5.28333C8.45565 5.11049 8.06175 5.02407 7.59112 5.02407C6.97725 5.02407 6.47593 5.18395 6.08715 5.5037C5.7086 5.82346 5.50397 6.33766 5.47328 7.0463C5.46305 7.35741 5.46305 7.65988 5.47328 7.9537C5.50397 8.67099 5.7086 9.18951 6.08715 9.50926C6.47593 9.82037 6.97725 9.97593 7.59112 9.97593C8.06175 9.97593 8.45565 9.88951 8.77281 9.71667C9.08998 9.54383 9.34064 9.24568 9.5248 8.82222C9.57596 8.72716 9.62711 8.65802 9.67827 8.61481C9.72942 8.5716 9.80616 8.55 9.90847 8.55H10.6451C10.7474 8.55 10.8344 8.58025 10.906 8.64074C10.9776 8.69259 11.0083 8.76173 10.9981 8.84815C10.9879 9.02963 10.9418 9.21543 10.86 9.40556C10.7781 9.59568 10.6451 9.79012 10.4609 9.98889C10.287 10.179 10.067 10.3519 9.80104 10.5074C9.53503 10.6543 9.21787 10.7753 8.84955 10.8704C8.48123 10.9568 8.05664 11 7.57577 11Z" fill="#214498"/>
                </svg>
                span copy copyright by Deshevshe 2024