hr.footer-hr
.footer.gray-bgc
    .wrapper.footer-grid
        .footer-nav
            nav
                p.footer-head Інформація
                ul 
                    li
                        a(href="about-us.pug") Про нас
                    li
                        a(href="pay-delivery.pug") Оплата та доставка
                    li
                        a(href="povernenia.pug") Повернення та обмін
                    li
                        a(href="answer.pug") Питання та відповіді
            nav 
                p.footer-head Каталог
                ul 
                    li
                        a(href="#") Одяг
                    li
                        a(href="#") Взуття
                    li
                        a(href="#") Дітям
                    li
                        a(href="#") Краса та здоровʼя
                    li
                        a(href="#") Спорт та відпочинок
                    li
                        a(href="#") Аксесуари
                    li
                        a(href="#") Товари для дому
        .footer-contact
            .contact-bottom
                p.footer-head Контакти
                .contact
                    p.d-flex
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                            <path d="M11.5 10.6012C9.50415 12.7018 4.41318 7.65653 6.41662 5.54795C7.63985 4.26052 6.25803 2.78923 5.49317 1.70778C4.0577 -0.321854 0.906427 2.48034 1.00213 4.26287C1.30394 9.88404 7.38462 16.5455 13.2729 15.9645C15.115 15.7827 17.2315 12.456 15.1186 11.2402C14.0621 10.6322 12.6118 9.43099 11.5 10.6012Z" stroke="#1E4284" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        a(href="tel:+380000000000") +38 (000) 000 00 00 
                    p.d-flex
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="10" viewBox="0 0 15 10" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.875 0.9375H13.125C13.6428 0.9375 14.0625 1.35723 14.0625 1.875V8.125C14.0625 8.64277 13.6428 9.0625 13.125 9.0625H1.875C1.35723 9.0625 0.9375 8.64277 0.9375 8.125V1.875C0.9375 1.35723 1.35723 0.9375 1.875 0.9375ZM0 1.875C0 0.839466 0.839466 0 1.875 0H13.125C14.1605 0 15 0.839466 15 1.875V8.125C15 9.16053 14.1605 10 13.125 10H1.875C0.839466 10 0 9.16053 0 8.125V1.875ZM2.35405 2.60864C2.19114 2.45844 1.93354 2.46476 1.77868 2.62277C1.62382 2.78078 1.63034 3.03063 1.79324 3.18083L4.81459 5.96661C4.81997 5.97157 4.82548 5.97638 4.83113 5.98105L4.85188 5.99819C5.40924 6.45856 5.85647 6.82796 6.25018 7.07894C6.65807 7.33896 7.05015 7.5 7.5 7.5C7.94985 7.5 8.34193 7.33896 8.74982 7.07894C9.14353 6.82796 9.59076 6.45856 10.1481 5.99819L10.1481 5.99819L10.1689 5.98104C10.1745 5.97638 10.18 5.97157 10.1854 5.96661L13.2068 3.18083C13.3697 3.03063 13.3762 2.78078 13.2213 2.62277C13.0665 2.46476 12.8089 2.45844 12.646 2.60864L9.63268 5.38698C9.05424 5.86474 8.64749 6.19945 8.30277 6.41921C7.96565 6.63411 7.73022 6.71053 7.5 6.71053C7.26978 6.71053 7.03435 6.63411 6.69723 6.41921C6.35251 6.19945 5.94576 5.86474 5.36733 5.38698L2.35405 2.60864Z" fill="#1E4284"/>
                        </svg>
                        a(href="mailto:desevshe@gmail.com") desevshe@gmail.com
            .social.bottom 
                p.footer-head ми у соцмережах
                .social-footer
                    include social
            .privacyPolice
                p
                    a(href="privacy.html") Політика конфіденційності
                p.d-flex.item-center.copyright
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 0.9375C3.87563 0.9375 0.9375 3.87563 0.9375 7.5C0.9375 11.1244 3.87563 14.0625 7.5 14.0625C11.1244 14.0625 14.0625 11.1244 14.0625 7.5C14.0625 3.87563 11.1244 0.9375 7.5 0.9375ZM0 7.5C0 3.35786 3.35786 0 7.5 0C11.6421 0 15 3.35786 15 7.5C15 11.6421 11.6421 15 7.5 15C3.35786 15 0 11.6421 0 7.5Z" fill="#214498"/>
                        <path d="M7.57577 11C6.84936 11 6.22015 10.8833 5.68813 10.65C5.16635 10.408 4.76222 10.0667 4.47575 9.62593C4.18928 9.17654 4.03581 8.64074 4.01535 8.01852C4.00512 7.88889 4 7.71605 4 7.5C4 7.28395 4.00512 7.11111 4.01535 6.98148C4.03581 6.35926 4.18928 5.82778 4.47575 5.38704C4.76222 4.93765 5.16635 4.5963 5.68813 4.36296C6.22015 4.12099 6.84936 4 7.57577 4C8.16918 4 8.67562 4.06914 9.09509 4.20741C9.5248 4.34568 9.87777 4.52284 10.154 4.73889C10.4303 4.95494 10.6349 5.18827 10.7679 5.43889C10.9111 5.68951 10.9879 5.92716 10.9981 6.15185C11.0083 6.23827 10.9776 6.30741 10.906 6.35926C10.8344 6.41111 10.7474 6.43704 10.6451 6.43704H9.90847C9.80616 6.43704 9.72942 6.41975 9.67827 6.38519C9.62711 6.34198 9.57596 6.27284 9.5248 6.17778C9.34064 5.75432 9.08998 5.45617 8.77281 5.28333C8.45565 5.11049 8.06175 5.02407 7.59112 5.02407C6.97725 5.02407 6.47593 5.18395 6.08715 5.5037C5.7086 5.82346 5.50397 6.33766 5.47328 7.0463C5.46305 7.35741 5.46305 7.65988 5.47328 7.9537C5.50397 8.67099 5.7086 9.18951 6.08715 9.50926C6.47593 9.82037 6.97725 9.97593 7.59112 9.97593C8.06175 9.97593 8.45565 9.88951 8.77281 9.71667C9.08998 9.54383 9.34064 9.24568 9.5248 8.82222C9.57596 8.72716 9.62711 8.65802 9.67827 8.61481C9.72942 8.5716 9.80616 8.55 9.90847 8.55H10.6451C10.7474 8.55 10.8344 8.58025 10.906 8.64074C10.9776 8.69259 11.0083 8.76173 10.9981 8.84815C10.9879 9.02963 10.9418 9.21543 10.86 9.40556C10.7781 9.59568 10.6451 9.79012 10.4609 9.98889C10.287 10.179 10.067 10.3519 9.80104 10.5074C9.53503 10.6543 9.21787 10.7753 8.84955 10.8704C8.48123 10.9568 8.05664 11 7.57577 11Z" fill="#214498"/>
                    </svg>
                    span copy copyright by Deshevshe 2024
.mobile-fixed-footer.grid 
    a(href="#").main-footer.footer-fixed-icon
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
            <path d="M1 7.04167V15.1667C1 15.6269 1.37309 16 1.83333 16H5.52381C5.98405 16 6.35714 15.6269 6.35714 15.1667V9.57142H10.6428V15.1667C10.6428 15.6269 11.0159 16 11.4762 16H15.1667C15.6269 16 16 15.6269 16 15.1667V7.04167C16 6.77937 15.8765 6.53237 15.6667 6.375L8.5 1L1.33333 6.375C1.12349 6.53237 1 6.77937 1 7.04167Z" stroke="#1E4284" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        span головна
    a(href="#").viber-footer.footer-fixed-icon 
        img(src="img/viber.svg", alt="")
        span написати нам
    a(href="#").tel-footer.footer-fixed-icon
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
            <path d="M11.5 10.6012C9.50415 12.7018 4.41318 7.65653 6.41662 5.54795C7.63985 4.26052 6.25803 2.78923 5.49317 1.70778C4.0577 -0.321854 0.906427 2.48034 1.00213 4.26287C1.30394 9.88404 7.38462 16.5455 13.2729 15.9645C15.115 15.7827 17.2315 12.456 15.1186 11.2402C14.0621 10.6322 12.6118 9.43099 11.5 10.6012Z" stroke="#1E4284" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        span зателефонувати
