.wrapper.flex-between.header.item-center
    .logo
        a(href="index.html")
            img(src="img/logo.svg", alt="logo")  
    .contact 
        p.d-flex
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 15C11.6421 15 15 11.6421 15 7.5C15 3.35786 11.6421 0 7.5 0C3.35786 0 0 3.35786 0 7.5C0 11.6421 3.35786 15 7.5 15ZM6.52776 6.12237C5.59282 7.10638 7.9686 9.46083 8.89998 8.48057C9.34677 8.01033 9.91063 8.36063 10.3735 8.64817C10.4481 8.69457 10.5202 8.73933 10.5887 8.77874C11.5747 9.34611 10.587 10.8986 9.72737 10.9834C6.97949 11.2546 4.14184 8.14589 4.00099 5.52267C3.95633 4.69082 5.42692 3.38313 6.09681 4.3303C6.13861 4.3894 6.18436 4.45099 6.23164 4.51465C6.58811 4.99461 7.03175 5.59193 6.52776 6.12237Z" fill="#214498"/>
            </svg>
            a(href="tel:+380000000000") +38 (000) 000 00 00 
        p.d-flex
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 15C11.6421 15 15 11.6421 15 7.5C15 3.35786 11.6421 0 7.5 0C3.35786 0 0 3.35786 0 7.5C0 11.6421 3.35786 15 7.5 15ZM11.4375 5.625C11.4375 5.31434 11.1857 5.0625 10.875 5.0625H4.125C3.81434 5.0625 3.5625 5.31434 3.5625 5.625V9.375C3.5625 9.68566 3.81434 9.9375 4.125 9.9375H10.875C11.1857 9.9375 11.4375 9.68566 11.4375 9.375V5.625ZM4.125 4.5C3.50368 4.5 3 5.00368 3 5.625V9.375C3 9.99632 3.50368 10.5 4.125 10.5H10.875C11.4963 10.5 12 9.99632 12 9.375V5.625C12 5.00368 11.4963 4.5 10.875 4.5H4.125ZM4.06721 6.07366C4.16012 5.97886 4.31468 5.97506 4.41243 6.06519L6.2204 7.73219C6.56746 8.01884 6.8115 8.21967 7.01834 8.35152C7.22061 8.48046 7.36187 8.52632 7.5 8.52632C7.63813 8.52632 7.77939 8.48046 7.98166 8.35152C8.1885 8.21967 8.43255 8.01884 8.77961 7.73219L10.5876 6.06519C10.6853 5.97506 10.8399 5.97886 10.9328 6.07366C11.0257 6.16847 11.0218 6.31838 10.9241 6.4085L9.11125 8.07997C9.10802 8.08294 9.10471 8.08583 9.10132 8.08863L9.08887 8.09891C8.75446 8.37513 8.48612 8.59678 8.24989 8.74737C8.00516 8.90338 7.76991 9 7.5 9C7.23009 9 6.99484 8.90338 6.75011 8.74737C6.51388 8.59678 6.24554 8.37513 5.91113 8.09891L5.89868 8.08863C5.89529 8.08583 5.89198 8.08294 5.88875 8.07997L4.07595 6.4085C3.9782 6.31838 3.97429 6.16847 4.06721 6.07366Z" fill="#214498"/>
            </svg>
            a(href="mailto:desevshe@gmail.com") desevshe@gmail.com
    include social
    .search-block
        form(action="#" method="post")
            label(for="search")
                input(type="text" id="search" name="search" placeholder="пошук")
            button(type="submit").serch
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                    <path d="M18 18L14 14M16 8.5C16 12.6421 12.6421 16 8.5 16C4.35786 16 1 12.6421 1 8.5C1 4.35786 4.35786 1 8.5 1C12.6421 1 16 4.35786 16 8.5Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
    .header-btn.flex-between 
        p.cart-cta 
            a(href="basket.pug")
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0909 14.0523C13.0647 14.2327 12.8663 14.3913 12.6666 14.3913H7.33337C7.13367 14.3913 6.9353 14.2327 6.90906 14.052L6.38062 10.4348H13.6194L13.0909 14.0523ZM10.2858 13.64C10.2858 13.8387 10.1577 14 10.0001 14C9.84241 14 9.71436 13.8387 9.71436 13.64V11.84C9.71436 11.6413 9.84241 11.48 10.0001 11.48C10.1577 11.48 10.2858 11.6413 10.2858 11.84V13.64ZM11.7144 13.64C11.7144 13.8387 11.5863 14 11.4286 14C11.2709 14 11.1429 13.8387 11.1429 13.64V11.84C11.1429 11.6413 11.2709 11.48 11.4286 11.48C11.5863 11.48 11.7144 11.6413 11.7144 11.84V13.64ZM8.85718 13.64C8.85718 13.8387 8.72925 14 8.57153 14C8.41382 14 8.28577 13.8387 8.28577 13.64V11.84C8.28577 11.6413 8.41382 11.48 8.57153 11.48C8.72925 11.48 8.85718 11.6413 8.85718 11.84V13.64Z" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47717 20 0 15.5228 0 10C0 4.47715 4.47717 0 10 0C15.5228 0 20 4.47715 20 10ZM14 8H12.6666C12.4827 8 12.3334 8.13635 12.3334 8.30435C12.3334 8.47235 12.4827 8.6087 12.6666 8.6087H14C14.1837 8.6087 14.3334 8.74535 14.3334 8.91304V9.52174C14.3334 9.68943 14.1837 9.82609 14 9.82609H6C5.81628 9.82609 5.66663 9.68943 5.66663 9.52174V8.91304C5.66663 8.74535 5.81628 8.6087 6 8.6087H7.33337C7.51733 8.6087 7.66663 8.47235 7.66663 8.30435C7.66663 8.13635 7.51733 8 7.33337 8H6C5.44861 8 5 8.40965 5 8.91304V9.52174C5 9.92957 5.29639 10.2717 5.70129 10.3885L6.24805 14.1323C6.31897 14.619 6.79565 15 7.33337 15H12.6666C13.2043 15 13.681 14.619 13.7517 14.1326L14.2983 10.3885C14.7036 10.2717 15 9.92957 15 9.52174V8.91304C15 8.40965 14.5514 8 14 8ZM8.20496 9.30546C8.19641 9.30233 8.18787 9.29868 8.17944 9.29451C8.0332 9.22035 7.96179 9.01119 8.02063 8.82616L9.16345 5.22621C9.22205 5.04153 9.38745 4.95225 9.53491 5.02569C9.68152 5.09949 9.75269 5.30901 9.69409 5.49369L8.55115 9.09363C8.50635 9.23439 8.39917 9.32007 8.28577 9.32007C8.25891 9.32007 8.23169 9.3153 8.20496 9.30546ZM11.7144 9.32007C11.6012 9.32007 11.4938 9.23439 11.449 9.09399L10.306 5.49369C10.2474 5.30901 10.3186 5.09985 10.4652 5.02569C10.6121 4.95297 10.7781 5.04189 10.8367 5.22621L11.9795 8.82616C12.0381 9.01083 11.9669 9.21999 11.8203 9.29415C11.7855 9.31179 11.7498 9.32007 11.7144 9.32007Z" />
                </svg>
        p.like-cta 
            a(href="like-product.pug") 
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20ZM9.29099 7.08255C9.47868 7.27126 9.73385 7.37735 10 7.37735C10.2662 7.37735 10.5213 7.27126 10.709 7.08255L11.12 6.6693C12.0076 5.7769 13.4445 5.7769 14.3321 6.66929C15.1986 7.54053 15.2255 8.94693 14.3923 9.85109L10.9565 13.5795C10.4397 14.1402 9.56024 14.1402 9.04352 13.5795L5.60773 9.85111C4.77452 8.94695 4.80138 7.54054 5.66793 6.66931C6.55553 5.77691 7.99237 5.77691 8.87997 6.66931L9.29099 7.08255ZM10.411 5.9641C10.4498 5.9251 10.4893 5.88729 10.5295 5.85066C11.8146 4.67982 13.8013 4.71763 15.0411 5.9641C16.2853 7.21504 16.3235 9.23104 15.1276 10.5288L11.6918 14.2571C10.7791 15.2476 9.22092 15.2476 8.30815 14.2571L4.87236 10.5288C3.67647 9.23106 3.7147 7.21505 4.95892 5.96411C6.19869 4.71764 8.18538 4.67983 9.47047 5.85067C9.51067 5.8873 9.55019 5.92511 9.58898 5.96411L10 6.37735L10.411 5.9641Z" />
                </svg>
        p.cabinet-cta 
            a(href="#")
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M10 5.90909C9.24688 5.90909 8.63636 6.51961 8.63636 7.27273C8.63636 8.02584 9.24688 8.63636 10 8.63636C10.7531 8.63636 11.3636 8.02584 11.3636 7.27273C11.3636 6.51961 10.7531 5.90909 10 5.90909Z" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM7.72727 7.27273C7.72727 6.01753 8.7448 5 10 5C11.2552 5 12.2727 6.01753 12.2727 7.27273C12.2727 8.52792 11.2552 9.54545 10 9.54545C8.7448 9.54545 7.72727 8.52792 7.72727 7.27273ZM14.567 14.9995C14.8178 14.9876 15.0114 14.7746 14.9995 14.5239C14.6839 7.88598 5.31607 7.88598 5.00052 14.5239C4.9886 14.7746 5.18222 14.9876 5.43297 14.9995C5.68373 15.0114 5.89667 14.8178 5.90859 14.567C6.16925 9.08371 13.8308 9.08371 14.0914 14.567C14.1033 14.8178 14.3163 15.0114 14.567 14.9995Z" />
                </svg> 
include header-menu


