.wrapper.d-flex.header.item-center
        div.flex-between.burger-logo.item-center
            .logo
                a(href="index.html")
                    img(src="img/logo.svg", alt="logo")  
        .icon-mobile.flex-between.item-center
            .search-mobile 
                a(href="#") 
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                        <circle cx="4.5" cy="4.5" r="4" stroke="#214498"/>
                        <path d="M9.64645 10.3536C9.84171 10.5488 10.1583 10.5488 10.3536 10.3536C10.5488 10.1583 10.5488 9.84171 10.3536 9.64645L9.64645 10.3536ZM7.14645 7.85355L9.64645 10.3536L10.3536 9.64645L7.85355 7.14645L7.14645 7.85355Z" fill="#214498"/>
                    </svg>
            p.like-cta 
                a(href="like-product.html ") 
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 7.37735C9.73385 7.37735 9.47868 7.27126 9.29099 7.08255L8.87997 6.66931C7.99237 5.77691 6.55553 5.77691 5.66793 6.66931C4.80138 7.54054 4.77452 8.94695 5.60773 9.85111L9.04352 13.5795C9.56024 14.1402 10.4397 14.1402 10.9565 13.5795L14.3923 9.85109C15.2255 8.94693 15.1986 7.54053 14.3321 6.6693C13.4445 5.7769 12.0076 5.7769 11.12 6.6693L10.709 7.08255C10.5213 7.27126 10.2661 7.37735 10 7.37735ZM10.5295 5.85066C10.4893 5.88729 10.4498 5.9251 10.411 5.9641L10 6.37735L9.58898 5.96411C9.55019 5.92511 9.51067 5.8873 9.47047 5.85067C8.18538 4.67983 6.19869 4.71764 4.95892 5.96411C3.7147 7.21505 3.67647 9.23106 4.87236 10.5288L8.30815 14.2571C9.22092 15.2476 10.7791 15.2476 11.6918 14.2571L15.1276 10.5288C16.3235 9.23104 16.2853 7.21504 15.0411 5.9641C13.8013 4.71763 11.8146 4.67982 10.5295 5.85066Z" fill="#214498"/>
                    </svg>
            p.cabinet-cta
                a(href="#")
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10" fill="none">
                        <circle cx="5.5" cy="2.5" r="2" stroke="#214498"/>
                        <path d="M10 9C10 6.79086 7.98528 5 5.5 5C3.01472 5 1 6.79086 1 9" stroke="#214498" stroke-linecap="round"/>
                    </svg>
            p.cart-cta 
                a(href="basket.html")
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                        <g clip-path="url(#clip0_474_28)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.17996 4.28995C3.02996 4.21995 2.95996 4.00995 3.01996 3.82995L4.15996 0.229953C4.21996 0.0399531 4.38996 -0.0500469 4.52996 0.0299531C4.67996 0.0999531 4.74996 0.309953 4.68996 0.489953L3.54996 4.08995C3.50996 4.22995 3.39996 4.31995 3.28996 4.31995C3.25996 4.31995 3.22996 4.31995 3.19996 4.30995C3.19996 4.29995 3.18996 4.29995 3.17996 4.28995Z" fill="#1E4284" stroke="#1E4284" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.45 4.08992L5.31 0.489924C5.25 0.309924 5.32 0.0999238 5.47 0.0299239C5.61 -0.0500761 5.78 0.0299239 5.84 0.229924L6.98 3.82992C7.04 4.00992 6.97 4.21992 6.82 4.28992C6.79 4.30992 6.75 4.31992 6.71 4.31992C6.6 4.31992 6.49 4.22992 6.45 4.08992Z" fill="#1E4284" stroke="#1E4284" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.29004 8.63998V6.83998C3.29004 6.63998 3.41004 6.47998 3.57004 6.47998C3.73004 6.47998 3.86004 6.63998 3.86004 6.83998V8.63998C3.86004 8.83998 3.73004 8.99998 3.57004 8.99998C3.41004 8.99998 3.29004 8.83998 3.29004 8.63998Z" fill="#1E4284" stroke="#1E4284" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.70996 8.63998V6.83998C4.70996 6.63998 4.83996 6.47998 4.99996 6.47998C5.15996 6.47998 5.28996 6.63998 5.28996 6.83998V8.63998C5.28996 8.83998 5.15996 8.99998 4.99996 8.99998C4.83996 8.99998 4.70996 8.83998 4.70996 8.63998Z" fill="#1E4284" stroke="#1E4284" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.14001 8.63998V6.83998C6.14001 6.63998 6.27001 6.47998 6.43001 6.47998C6.59001 6.47998 6.71001 6.63998 6.71001 6.83998V8.63998C6.71001 8.83998 6.59001 8.99998 6.43001 8.99998C6.27001 8.99998 6.14001 8.83998 6.14001 8.63998Z" fill="#1E4284" stroke="#1E4284" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9 3H7.67C7.48 3 7.33 3.14 7.33 3.3C7.33 3.47 7.48 3.61 7.67 3.61H9C9.18 3.61 9.33 3.75 9.33 3.91V4.52C9.33 4.69 9.18 4.83 9 4.83H1C0.82 4.83 0.67 4.69 0.67 4.52V3.91C0.67 3.75 0.82 3.61 1 3.61H2.33C2.52 3.61 2.67 3.47 2.67 3.3C2.67 3.14 2.52 3 2.33 3H1C0.45 3 0 3.41 0 3.91V4.52C0 4.93 0.3 5.27 0.7 5.39L1.25 9.13C1.32 9.62 1.8 10 2.33 10H7.67C8.2 10 8.68 9.62 8.75 9.13L9.3 5.39C9.7 5.27 10 4.93 10 4.52V3.91C10 3.41 9.55 3 9 3ZM8.09 9.05C8.06 9.23 7.87 9.39 7.67 9.39H2.33C2.13 9.39 1.94 9.23 1.91 9.05L1.38 5.43H8.62L8.09 9.05Z" fill="#1E4284" stroke="#1E4284" stroke-width="0.2"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_474_28">
                            <rect width="10" height="10" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
        .contact.decstop-contact
            p.d-flex
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                    <path d="M11.5 10.6012C9.50415 12.7018 4.41318 7.65653 6.41662 5.54795C7.63985 4.26052 6.25803 2.78923 5.49317 1.70778C4.0577 -0.321854 0.906427 2.48034 1.00213 4.26287C1.30394 9.88404 7.38462 16.5455 13.2729 15.9645C15.115 15.7827 17.2315 12.456 15.1186 11.2402C14.0621 10.6322 12.6118 9.43099 11.5 10.6012Z" stroke="#1E4284" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                a(href="tel:+380000000000") +38 (000) 000 00 00 
            p.d-flex
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="10" viewBox="0 0 15 10" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.875 0.9375H13.125C13.6428 0.9375 14.0625 1.35723 14.0625 1.875V8.125C14.0625 8.64277 13.6428 9.0625 13.125 9.0625H1.875C1.35723 9.0625 0.9375 8.64277 0.9375 8.125V1.875C0.9375 1.35723 1.35723 0.9375 1.875 0.9375ZM0 1.875C0 0.839466 0.839466 0 1.875 0H13.125C14.1605 0 15 0.839466 15 1.875V8.125C15 9.16053 14.1605 10 13.125 10H1.875C0.839466 10 0 9.16053 0 8.125V1.875ZM2.35405 2.60864C2.19114 2.45844 1.93354 2.46476 1.77868 2.62277C1.62382 2.78078 1.63034 3.03063 1.79324 3.18083L4.81459 5.96661C4.81997 5.97157 4.82548 5.97638 4.83113 5.98105L4.85188 5.99819C5.40924 6.45856 5.85647 6.82796 6.25018 7.07894C6.65807 7.33896 7.05015 7.5 7.5 7.5C7.94985 7.5 8.34193 7.33896 8.74982 7.07894C9.14353 6.82796 9.59076 6.45856 10.1481 5.99819L10.1481 5.99819L10.1689 5.98104C10.1745 5.97638 10.18 5.97157 10.1854 5.96661L13.2068 3.18083C13.3697 3.03063 13.3762 2.78078 13.2213 2.62277C13.0665 2.46476 12.8089 2.45844 12.646 2.60864L9.63268 5.38698C9.05424 5.86474 8.64749 6.19945 8.30277 6.41921C7.96565 6.63411 7.73022 6.71053 7.5 6.71053C7.26978 6.71053 7.03435 6.63411 6.69723 6.41921C6.35251 6.19945 5.94576 5.86474 5.36733 5.38698L2.35405 2.60864Z" fill="#1E4284"/>
                </svg>
                a(href="mailto:desevshe@gmail.com") desevshe@gmail.com
        .social-header
            include social
        .search-block
            form(action="#" method="post")
                label(for="search")
                    input(type="text" id="search" name="search" placeholder="пошук")
                button(type="submit").serch
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                        <path d="M16 16L12.4706 12.4706M14.2353 7.61765C14.2353 11.2725 11.2725 14.2353 7.61765 14.2353C3.96282 14.2353 1 11.2725 1 7.61765C1 3.96282 3.96282 1 7.61765 1C11.2725 1 14.2353 3.96282 14.2353 7.61765Z" stroke="#1E4284" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        .header-btn.flex-between.decstop-cart.item-center
            p.like-cta 
                a(href="like-product.html ") 
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 15" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9 3.56603C8.60077 3.56603 8.21802 3.40688 7.93648 3.12383L7.31995 2.50396C5.98855 1.16536 3.83329 1.16536 2.50189 2.50396C1.20207 3.81081 1.16178 5.92042 2.41159 7.27666L7.56529 12.8692C8.34036 13.7103 9.65962 13.7103 10.4347 12.8692L15.5884 7.27663C16.8382 5.9204 16.7979 3.81079 15.4981 2.50394C14.1667 1.16535 12.0115 1.16535 10.6801 2.50395L10.0635 3.12383C9.78198 3.40688 9.39923 3.56603 9 3.56603ZM9.79432 1.27598C9.73401 1.33093 9.67473 1.38765 9.61655 1.44615L9 2.06603L8.38346 1.44616C8.32528 1.38767 8.26601 1.33095 8.2057 1.27601C6.27808 -0.480262 3.29803 -0.423545 1.43838 1.44616C-0.42795 3.32258 -0.485295 6.34658 1.30854 8.29316L6.46223 13.8857C7.83138 15.3714 10.1686 15.3714 11.5377 13.8857L16.6915 8.29313C18.4853 6.34656 18.4279 3.32256 16.5616 1.44614C14.702 -0.423554 11.7219 -0.480273 9.79432 1.27598Z" fill="#1E4284"/>
                    </svg>
            p.cabinet-cta 
                a(href="#").d-flex.item-center
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16" fill="none">
                        <circle cx="8.50016" cy="4.16667" r="3.41667" stroke="none" stroke-width="1.5"/>
                        <path d="M16 14.9999C16 11.318 12.6421 8.33325 8.5 8.33325C4.35786 8.33325 1 11.318 1 14.9999" stroke="#1E4284" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                    span.name-autorization Денис Зембіцький
            p.cart-cta 
                a(href="basket.html")
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                        <g clip-path="url(#clip0_2001_1242)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.77019 6.43505C4.54519 6.33005 4.44019 6.01505 4.53019 5.74505L6.24019 0.345052C6.33019 0.0600517 6.58519 -0.0749483 6.79519 0.0450517C7.02019 0.150052 7.12519 0.465052 7.03519 0.735052L5.32519 6.13505C5.26519 6.34505 5.10019 6.48005 4.93519 6.48005C4.89019 6.48005 4.84519 6.48005 4.80019 6.46505C4.80019 6.45005 4.78519 6.45005 4.77019 6.43505Z" fill="#none" stroke="#none" stroke-width="0.3"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.67476 6.13501L7.96476 0.735008C7.87476 0.465008 7.97976 0.150008 8.20476 0.0450078C8.41476 -0.0749922 8.66976 0.0450079 8.75976 0.345008L10.4698 5.74501C10.5598 6.01501 10.4548 6.33001 10.2298 6.43501C10.1848 6.46501 10.1248 6.48001 10.0648 6.48001C9.89976 6.48001 9.73476 6.34501 9.67476 6.13501Z" fill="#none" stroke="#none" stroke-width="0.3"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.93506 12.96V10.26C4.93506 9.95997 5.11506 9.71997 5.35506 9.71997C5.59506 9.71997 5.79006 9.95997 5.79006 10.26V12.96C5.79006 13.26 5.59506 13.5 5.35506 13.5C5.11506 13.5 4.93506 13.26 4.93506 12.96Z" fill="#none" stroke="#none" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.06494 12.96V10.26C7.06494 9.95997 7.25994 9.71997 7.49994 9.71997C7.73994 9.71997 7.93494 9.95997 7.93494 10.26V12.96C7.93494 13.26 7.73994 13.5 7.49994 13.5C7.25994 13.5 7.06494 13.26 7.06494 12.96Z" fill="#none" stroke="#none" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.20996 12.96V10.26C9.20996 9.95997 9.40496 9.71997 9.64496 9.71997C9.88496 9.71997 10.065 9.95997 10.065 10.26V12.96C10.065 13.26 9.88496 13.5 9.64496 13.5C9.40496 13.5 9.20996 13.26 9.20996 12.96Z" fill="#none" stroke="#none" stroke-width="0.2"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 4.5H11.505C11.22 4.5 10.995 4.71 10.995 4.95C10.995 5.205 11.22 5.415 11.505 5.415H13.5C13.77 5.415 13.995 5.625 13.995 5.865V6.78C13.995 7.035 13.77 7.245 13.5 7.245H1.5C1.23 7.245 1.005 7.035 1.005 6.78V5.865C1.005 5.625 1.23 5.415 1.5 5.415H3.495C3.78 5.415 4.005 5.205 4.005 4.95C4.005 4.71 3.78 4.5 3.495 4.5H1.5C0.675 4.5 0 5.115 0 5.865V6.78C0 7.395 0.45 7.905 1.05 8.085L1.875 13.695C1.98 14.43 2.7 15 3.495 15H11.505C12.3 15 13.02 14.43 13.125 13.695L13.95 8.085C14.55 7.905 15 7.395 15 6.78V5.865C15 5.115 14.325 4.5 13.5 4.5ZM12.135 13.575C12.09 13.845 11.805 14.085 11.505 14.085H3.495C3.195 14.085 2.91 13.845 2.865 13.575L2.07 8.145H12.93L12.135 13.575Z" fill="#none" stroke="#none" stroke-width="0.3"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_2001_1242">
                            <rect width="15" height="15" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
        .burger#burger.burger-fix
            span.bord
        include registration
include header-menu


