figure.card
    a(href="card.html")
    figcaption 
        .card-view-block.item-center
            .main-info-card.item-center
                .image-block-card
                    span.flag 
                        span new
                    picture 
                        img(src="img/catalog-card.png", alt="") 
                .haracteristic-block-card
                    .hover-card
                        h3 Шорти джинсові жіночі, колір блакитний
                        form(action="#") 
                            .color.d-flex.item-center
                                label
                                    input(type="radio", name="color" value="black")
                                label
                                    input(type="radio", name="color" value="red" disabled)
                                label
                                    input(type="radio", name="color" value="blue")
                                label
                                    input(type="radio", name="color" value="gray" disabled)
                                label
                                    input(type="radio", name="color" value="white") 
                        p.article Артикул: 83635337
                    form(action="#")
                        .size.d-flex.item-center
                            p
                                input(type="radio", name="size" id="xs")
                                label(for="xs") xs
                            p
                                input(type="radio", name="size" id="s")
                                label(for="s") s
                            p
                                input(type="radio", name="size" id="m")
                                label(for="m") m
                            p
                                input(type="radio", name="size" id="l")
                                label(for="l") l
                            p
                                input(type="radio", name="size" id="xl")
                                label(for="xl") xl
                            p
                                input(type="radio", name="size" id="xxl")
                                label(for="xxl") xxl
                        p.d-flex.price-block.item-center
                            span.price 800₴
                            span.old-price 1200₴
            .btn-like
                button(type='submit').blue-btn.submit-btn купити 
                button(type='submit').transparent-cta.submit-btn.delete-cta
                    span видалити 
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                        <path d="M11 1.00004L1 11M0.999958 1L10.9999 11" stroke="" stroke-opacity="" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        