
h2 питання та відповіді
.description-question 
    .question-item 
        a.readmore.readmore-question(href="#") 
            span Навіщо потрібно реєструватися на сайті?
        .description-more.description-more-question
            p У реєстрації на сайті є свої переваги. Створивши ваш особистий кабінет ви зможете:
            ul.list-descript
                li Оформляти замовлення в кілька кліків - вся необхідна інформація вже буде зафіксована;
                li Зберігати вподобані товари у "Обраному" - так зручніше вибирати і порівнювати, а також стежити за ціною та наявністю товару;
                li Отримувати інформацію про нові надходження, а також першими дізнаватися про знижки та спеціальні пропозиції.
    .question-item 
        a.readmore.readmore-question(href="#") 
            span Як використовувати промокод?
        .description-more.description-more-question
            p У реєстрації на сайті є свої переваги. Створивши ваш особистий кабінет ви зможете:
            ul.list-descript
                li Оформляти замовлення в кілька кліків - вся необхідна інформація вже буде зафіксована;
                li Зберігати вподобані товари у "Обраному" - так зручніше вибирати і порівнювати, а також стежити за ціною та наявністю товару;
                li Отримувати інформацію про нові надходження, а також першими дізнаватися про знижки та спеціальні пропозиції.
    .question-item 
        a.readmore.readmore-question(href="#") 
            span Чи можна оформити замовлення без реєстрації?
        .description-more.description-more-question
            p У реєстрації на сайті є свої переваги. Створивши ваш особистий кабінет ви зможете:
            ul.list-descript
                li Оформляти замовлення в кілька кліків - вся необхідна інформація вже буде зафіксована;
                li Зберігати вподобані товари у "Обраному" - так зручніше вибирати і порівнювати, а також стежити за ціною та наявністю товару;
                li Отримувати інформацію про нові надходження, а також першими дізнаватися про знижки та спеціальні пропозиції.
    .question-item 
        a.readmore.readmore-question(href="#") 
            span Чи є можливість оформити замовлення за телефоном?
        .description-more.description-more-question
            p У реєстрації на сайті є свої переваги. Створивши ваш особистий кабінет ви зможете:
            ul.list-descript
                li Оформляти замовлення в кілька кліків - вся необхідна інформація вже буде зафіксована;
                li Зберігати вподобані товари у "Обраному" - так зручніше вибирати і порівнювати, а також стежити за ціною та наявністю товару;
                li Отримувати інформацію про нові надходження, а також першими дізнаватися про знижки та спеціальні пропозиції.
    .question-item 
        a.readmore.readmore-question(href="#") 
            span Як дізнатися, що моє замовлення підтверджено та прийняте в роботу?
        .description-more.description-more-question
            p У реєстрації на сайті є свої переваги. Створивши ваш особистий кабінет ви зможете:
            ul.list-descript
                li Оформляти замовлення в кілька кліків - вся необхідна інформація вже буде зафіксована;
                li Зберігати вподобані товари у "Обраному" - так зручніше вибирати і порівнювати, а також стежити за ціною та наявністю товару;
                li Отримувати інформацію про нові надходження, а також першими дізнаватися про знижки та спеціальні пропозиції.
    .question-item 
        a.readmore.readmore-question(href="#") 
            span Як я можу відстежити статус мого замовлення?
        .description-more.description-more-question
            p У реєстрації на сайті є свої переваги. Створивши ваш особистий кабінет ви зможете:
            ul.list-descript
                li Оформляти замовлення в кілька кліків - вся необхідна інформація вже буде зафіксована;
                li Зберігати вподобані товари у "Обраному" - так зручніше вибирати і порівнювати, а також стежити за ціною та наявністю товару;
                li Отримувати інформацію про нові надходження, а також першими дізнаватися про знижки та спеціальні пропозиції.
    .question-item 
        a.readmore.readmore-question(href="#") 
            span Як буде запаковане моє замовлення?
        .description-more.description-more-question
            p У реєстрації на сайті є свої переваги. Створивши ваш особистий кабінет ви зможете:
            ul.list-descript
                li Оформляти замовлення в кілька кліків - вся необхідна інформація вже буде зафіксована;
                li Зберігати вподобані товари у "Обраному" - так зручніше вибирати і порівнювати, а також стежити за ціною та наявністю товару;
                li Отримувати інформацію про нові надходження, а також першими дізнаватися про знижки та спеціальні пропозиції.
    .question-item 
        a.readmore.readmore-question.readmore.readmore-question-question(href="#") 
            span Як буде запаковане моє замовлення?
        .description-more.description-more-question
            p Чи захищені мої персональні дані?
            ul.list-descript
                li Оформляти замовлення в кілька кліків - вся необхідна інформація вже буде зафіксована;
                li Зберігати вподобані товари у "Обраному" - так зручніше вибирати і порівнювати, а також стежити за ціною та наявністю товару;
                li Отримувати інформацію про нові надходження, а також першими дізнаватися про знижки та спеціальні пропозиції.