section.top-prodaz
    h2 топ продажів
    .wrapper-card
        .top-prodaz-card
            - for(let i = 0; i < 8; i++) 
                include catalog-card
    //- .catalog-cta-center
    //-     a(href="catalog.pug").yellow-cta в каталог
    
