doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
        link(rel="stylesheet" href="css/style.css")
        title Дешевше - інтернет магазин необхідних товарів для всієї родини
    body#body
        header
            .fixed-header
                include components/header
        main.wrapper
            p.page-look.d-flex
                a(href="index.html") головна
                span /
                a(href="#") особистий кабінет
                span /
                span.selected-page профіль
            .help-page.cabinet-page
                .help-menu 
                    h1 особистий кабінет
                    ul.menu-help-item.menu-cabinet-item
                        li
                            a(href="javascript:void(0)" data-href="profile").active-cta-help
                                span Профіль
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        li
                            a(href="javascript:void(0)" data-href="mySale") 
                                span Мої знижки
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        li
                            a(href="javascript:void(0)" data-href="cartCabinet").cartCabinet
                                span Кошик
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        li
                            a(href="javascript:void(0)" data-href="listOrder") 
                                span Список замовлень
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        li
                            a(href="javascript:void(0)" data-href="myReturn") 
                                span Мої повернення
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        li
                            a(href="javascript:void(0)" data-href="myLikeProduct") 
                                span Вподобані товари
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                section.about-us-block#profile.active-help.help-content.cabinet-section
                    .description-about-us
                        h2 Ваші дані:
                        .order-form 
                            form(action="#") 
                                .personal-form 
                                    .flex-between.item-center.form-flex
                                        .order-form-personal
                                            p 
                                                label(for="lastname") Прізвище*
                                            p 
                                                input#lastname(type="text", name="lastname" required placeholder="Прізвище")
                                        .order-form-personal
                                            p 
                                                label(for="userPhone") Телефон*
                                            p 
                                                input#userPhone(type="tel", name="userPhone" required placeholder="Телефон")
                                    .flex-between.item-center.form-flex
                                        .order-form-personal
                                            p 
                                                label(for="nameProfile") Імʼя*
                                            p 
                                                input#nameProfile(type="text", name="nameProfile" required placeholder="Імʼя")
                                        .order-form-personal
                                            p 
                                                label(for="emailProfile") E-mail*
                                            p 
                                                input#emailProfile(type="email", name="emailProfile" required placeholder="Ваш e-mail")
                                    .flex-between.item-center.form-flex
                                        .order-form-personal
                                            p 
                                                label(for="secondNameProfile") По батькові*
                                            p 
                                                input#secondNameProfile(type="text", name="secondNameProfile" required placeholder="По батькові")
                                        .order-form-personal
                                            p 
                                                label(for="dateBorn") День народження
                                            p 
                                                input#dateBorn(type="text", name="dateBorn" required placeholder="День народження")
                            p.flag-help.flag-order.flag-cabinet Дякуємо за реєстрацію!
                    
                section#mySale.help-content.cabinet-section
                    include components/cabinet-sale
                section#cartCabinet.help-content.cabinet-section
                    include components/cabinet-cart
                section#listOrder.help-content.cabinet-section
                    include components/listOrder
                section#myReturn.help-content.cabinet-section
                    include components/myReturn
                section#myLikeProduct.help-content.cabinet-section
                    include components/cabinet-like
            .top-prodaz-main.cabinet-top-prodaz
                section.view-product 
                    h2 доповніть свій образ
                    .top-prodaz-card
                        - for(let i = 0; i < 4; i++) 
                            include components/catalog-card
        footer 
            include components/footer
        script(src="js/scripts.js")