doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
        link(rel="stylesheet" href="css/style.css")
        title Дешевше - інтернет магазин необхідних товарів для всієї родини
    body#body
        header
            .fixed-header
                include components/header
        main.wrapper
            .d-flex.flex-arrow
                a(href="#body").arrow-up.arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                        <path d="M1 9L9 0.999999L17 9" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                a(href="#footer").arrow-down.arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                        <path d="M1 0.999999L9 9L17 1" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            p.page-look.d-flex
                a(href="index.html") головна
                span /
                a(href="#") особистий кабінет
                span /
                span.selected-page профіль
            .help-page.cabinet-page
                .help-menu 
                    h1 особистий кабінет
                    ul.menu-help-item.menu-cabinet-item
                        li
                            a(href="javascript:void(0)" data-href="profile").active-cta-help
                                span Профіль
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        li
                            a(href="javascript:void(0)" data-href="mySale") 
                                span Мої знижки
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        li
                            a(href="javascript:void(0)" data-href="cartCabinet").cartCabinet
                                span Кошик
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        li
                            a(href="javascript:void(0)" data-href="listOrder") 
                                span Список замовлень
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        li
                            a(href="javascript:void(0)" data-href="myReturn") 
                                span Мої повернення
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                        li
                            a(href="javascript:void(0)" data-href="myLikeProduct") 
                                span Вподобані товари
                                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" viewBox="0 0 7 12" fill="none">
                                    <path d="M1 1L6 6L1 11" stroke="#214498" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                section.about-us-block#profile.active-help.help-content.cabinet-section
                    .description-about-us
                        h2 Ваші дані:
                        .order-form 
                            form(action="#") 
                                .personal-form 
                                    .flex-between.item-center.form-flex
                                        .order-form-personal
                                            p 
                                                label(for="lastname") Прізвище*
                                            p 
                                                input#lastname(type="text", name="lastname" required placeholder="Прізвище")
                                        .order-form-personal
                                            p 
                                                label(for="userPhone") Телефон*
                                            p 
                                                input#userPhone(type="tel", name="userPhone" required placeholder="Телефон")
                                    .flex-between.item-center.form-flex
                                        .order-form-personal
                                            p 
                                                label(for="nameProfile") Імʼя*
                                            p 
                                                input#nameProfile(type="text", name="nameProfile" required placeholder="Імʼя")
                                        .order-form-personal
                                            p 
                                                label(for="emailProfile") E-mail*
                                            p 
                                                input#emailProfile(type="email", name="emailProfile" required placeholder="Ваш e-mail")
                                    .flex-between.item-center.form-flex
                                        .order-form-personal
                                            p 
                                                label(for="secondNameProfile") По батькові*
                                            p 
                                                input#secondNameProfile(type="text", name="secondNameProfile" required placeholder="По батькові")
                                        .order-form-personal
                                            p 
                                                label(for="dateBorn") День народження
                                            p 
                                                input#dateBorn(type="text", name="dateBorn" required placeholder="День народження")
                                h2 Доставка:
                                .d-flex.item-center.post-icon
                                    p 
                                        label(for="ukrPoshta") 
                                            input(type="radio" id="ukrPoshta" name="poshta")
                                    p 
                                        label(for="novaPoshta") 
                                            input(type="radio" id="novaPoshta" name="poshta")
                                    p 
                                        label(for="meest") 
                                            input(type="radio" id="meest" name="poshta")
                                .flex-between.post-cabinet
                                    .select-order
                                        p Регіон/Область**
                                        label.arrow-select
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            select#oblastVillage(required name="oblast" placeholder="Область").select-placeholder
                                                option(disabled selected hidden value="0") Область
                                                option(value="1") Хмельницька
                                                option(value="2") Вінницька
                                                option(value="3") Тернопільська

                                    .select-order
                                        p Район*
                                        label.arrow-select
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            select#regionVillage(required name="oblast" placeholder="Область").select-placeholder
                                                option(disabled selected hidden value="0") Район
                                                option(value="1") Хмельницька
                                                option(value="2") Вінницька
                                                option(value="3") Тернопільська
                                .flex-between.post-cabinet
                                    .select-order
                                        p Село*
                                        label.arrow-select
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            select#vilageSelect(required name="oblast" placeholder="Область").select-placeholder
                                                option(disabled selected hidden value="0") Населений пункт
                                                option(value="1") Хмельницька
                                                option(value="2") Вінницька
                                                option(value="3") Тернопільська
                                    .select-order
                                        p Відділення пошти*
                                        label.arrow-select
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                            select#oblast(required name="oblast" placeholder="Область").select-placeholder
                                                option(disabled selected hidden value="0") Вулиця
                                                option(value="1") Хмельницька
                                                option(value="2") Вінницька
                                                option(value="3") Тернопільська
                            p.flag-help.flag-order.flag-cabinet Дякуємо за реєстрацію!
                    
                section#mySale.help-content.cabinet-section
                    include components/cabinet-sale
                section#cartCabinet.help-content.cabinet-section
                    include components/cabinet-cart
                section#listOrder.help-content.cabinet-section
                    include components/listOrder
                section#myReturn.help-content.cabinet-section
                    include components/myReturn
                section#myLikeProduct.help-content.cabinet-section
                    include components/cabinet-like
            .top-prodaz-main.cabinet-top-prodaz
                section.view-product 
                    h2 доповніть свій образ
                    .top-prodaz-card
                        - for(let i = 0; i < 4; i++) 
                            include components/catalog-card
                    .view-all
                        .flex-between 
                            a(href="#").left-arrow.gray-sircle 
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                    <path d="M23 13L15 20.5L23 28" stroke="#121212" stroke-linecap="round"/>
                                </svg>
                            a(href="#").right-arrow.gray-sircle 
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                    <path d="M17 13L25 20.5L17 28" stroke="#121212" stroke-linecap="round"/>
                                </svg>
        footer#footer
            include components/footer
        script(src="js/scripts.js")