doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
        link(rel="stylesheet" href="css/style.css")
        title Дешевше - інтернет магазин необхідних товарів для всієї родини
    body#body
        header
            .fixed-header
                include components/header
                <svg class="flag-UA" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 87 67" fill="none">
                    <path d="M63.8477 1.07291C64.4675 1.07322 65.0861 1.13092 65.713 1.23893C70.0266 2.01567 72.7448 5.24841 75.382 8.37255C75.6529 8.69868 75.942 9.03221 76.2129 9.35834C77.7939 11.207 81.6735 15.0995 86.2898 15.0978L73.6158 15.0954C68.9994 15.0971 65.12 11.1974 63.5389 9.35594C63.2588 9.0297 62.9788 8.69628 62.708 8.37015C60.0708 5.24601 57.3526 2.01327 53.039 1.23653C52.4215 1.12145 51.8027 1.07093 51.1737 1.07051L63.8477 1.07291Z" fill="url(#paint0_linear_365_8)"/>
                    <path d="M51.1648 1.0704C51.7846 1.07071 52.4033 1.1284 53.0301 1.23642C57.3437 2.01316 60.062 5.24589 62.6992 8.37003C62.97 8.69616 63.2592 9.0297 63.53 9.35583C65.111 11.2045 68.9906 15.097 73.607 15.0953L61.0162 15.0939C56.3998 15.0956 52.5204 11.1959 50.9393 9.35443C50.6592 9.02819 50.3792 8.69477 50.1084 8.36864C47.4712 5.2445 44.753 2.01176 40.4394 1.23502C39.8219 1.11994 39.2031 1.06942 38.574 1.069L51.1648 1.0704Z" fill="url(#paint1_linear_365_8)"/>
                    <path d="M65.8464 1.17617C62.758 1.16495 59.6553 2.06086 56.5902 3.86471C54.5337 5.07642 52.5224 6.70978 50.7015 8.61741C49.7249 9.64969 48.7991 10.7576 47.9502 11.9229C35.9309 28.5523 34.1002 47.196 42.9534 65.155L25.1758 65.0715C16.3225 47.1125 18.1533 28.4688 30.1726 11.8394C31.0215 10.6741 31.9343 9.566 32.9239 8.53392C34.7448 6.62629 36.7561 4.99293 38.8126 3.78122C41.8777 1.97737 44.9805 1.07211 48.0688 1.09267L65.8464 1.17617Z" fill="url(#paint2_linear_365_8)"/>
                    <path d="M51.1729 1.17299C47.7652 1.15675 44.3432 2.04763 40.9642 3.84654C38.6971 5.05493 36.4806 6.68506 34.4745 8.58977C33.3987 9.62049 32.3789 10.7269 31.4442 11.8908C18.2095 28.5011 16.2264 47.1424 26.024 65.1163L6.53742 65.0059C-3.26023 47.032 -1.27713 28.3907 11.9576 11.7804C12.8923 10.6165 13.8978 9.50986 14.9879 8.47937C16.994 6.57466 19.2105 4.94453 21.4776 3.73613C24.8566 1.93723 28.2787 1.037 31.6863 1.06259L51.1729 1.17299Z" fill="url(#paint3_linear_365_8)"/>
                    <defs>
                        <linearGradient id="paint0_linear_365_8" x1="64.318" y1="-1.20427" x2="71.9548" y2="25.5499" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#776303"/>
                        <stop offset="0.1701" stop-color="#BF9F05"/>
                        <stop offset="0.1883" stop-color="#C6A405"/>
                        <stop offset="0.2718" stop-color="#DFB905"/>
                        <stop offset="0.3586" stop-color="#F1C806"/>
                        <stop offset="0.4501" stop-color="#FCD106"/>
                        <stop offset="0.5541" stop-color="#FFD406"/>
                        <stop offset="0.7214" stop-color="#FDD206"/>
                        <stop offset="0.8136" stop-color="#F5CB06"/>
                        <stop offset="0.8876" stop-color="#E7C006"/>
                        <stop offset="0.9516" stop-color="#D3B005"/>
                        <stop offset="1" stop-color="#BF9F05"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_365_8" x1="62.8739" y1="17.4065" x2="56.7966" y2="3.53154" gradientUnits="userSpaceOnUse">
                        <stop offset="0.0515464" stop-color="#012953"/>
                        <stop offset="0.1363" stop-color="#013468"/>
                        <stop offset="0.2912" stop-color="#01448A"/>
                        <stop offset="0.4197" stop-color="#014E9F"/>
                        <stop offset="0.5052" stop-color="#0152A6"/>
                        <stop offset="0.9974" stop-color="#01264D"/>
                        </linearGradient>
                        <linearGradient id="paint2_linear_365_8" x1="34.8565" y1="66.3824" x2="42.2772" y2="-10.7966" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FFD406"/>
                        <stop offset="0.3393" stop-color="#FDD206"/>
                        <stop offset="0.5266" stop-color="#F5CB06"/>
                        <stop offset="0.6767" stop-color="#E7C006"/>
                        <stop offset="0.8064" stop-color="#D3B005"/>
                        <stop offset="0.9046" stop-color="#BF9F05"/>
                        </linearGradient>
                        <linearGradient id="paint3_linear_365_8" x1="36.2589" y1="-0.285879" x2="21.3715" y2="72.8051" gradientUnits="userSpaceOnUse">
                        <stop offset="0.0180412" stop-color="#012953"/>
                        <stop offset="0.3763" stop-color="#01458C"/>
                        <stop offset="0.4303" stop-color="#014C9B"/>
                        <stop offset="0.5197" stop-color="#0155AD"/>
                        <stop offset="0.6142" stop-color="#015AB8"/>
                        <stop offset="0.7216" stop-color="#015CBB"/>
                        </linearGradient>
                    </defs>
                    </svg>
        main 
            .d-flex.flex-arrow
                a(href="#body").arrow-up.arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                        <path d="M1 9L9 0.999999L17 9" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                a(href="#footer").arrow-down.arrow
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                        <path d="M1 0.999999L9 9L17 1" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
            section.main
                .main-bg.wrapper
                    .new-colection.position-center
                        p -30%
                        p на нову колекцію
                        a(href="catalog.html").yellow-cta в каталог 
            section.perevagi
                .wrapper
                    h2 наші переваги
                    .flex-between 
                        div.d-flex.item-center
                            picture 
                                img(src="img/oplata.svg", alt="")
                            p оплата при отриманні
                        div.d-flex.item-center
                            picture 
                                img(src="img/obmin.svg", alt="")
                            p обмін та повернення
                        div.d-flex.item-center
                            picture 
                                img(src="img/delivery.svg", alt="")
                            p швидка доставка
                        div.d-flex.item-center
                            picture 
                                img(src="img/yakist.svg", alt="")
                            p гарантія якості
                        div.d-flex.item-center
                            picture 
                                img(src="img/kupyty.svg", alt="")
                            p покупка  
                                br 
                                span в 1 клік
            section.popular 
                h2 популярні категорії
                .wrapper.flex-between.popular-elements
                    a(href="#")
                        picture
                            img(src="img/img1.png", alt="")
                        span Сумки
                    a(href="#") 
                        picture
                            img(src="img/img2.png", alt="")
                        span Футболки
                    a(href="#") 
                        picture
                            img(src="img/img3.png", alt="")
                        span Велосипедки
                    a(href="#") 
                        picture
                            img(src="img/img4.png", alt="")
                        span Взуття
                    a(href="#") 
                        picture
                            img(src="img/img5.png", alt="")
                        span Штани
                    a(href="#") 
                        picture
                            img(src="img/img6.png", alt="")
                        span Піжами
                    a(href="#") 
                        picture
                            img(src="img/img7.png", alt="")
                        span Аксесуари
            .wrapper.top-prodaz-main
                include components/top-prodaz
                .view-all
                    .flex-between 
                        a(href="#").left-arrow.gray-sircle 
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                <path d="M23 13L15 20.5L23 28" stroke="#121212" stroke-linecap="round"/>
                            </svg>
                        a(href="#").right-arrow.gray-sircle 
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                <path d="M17 13L25 20.5L17 28" stroke="#121212" stroke-linecap="round"/>
                            </svg>
                    a(href="#") показати усі 
        #footer
            include components/footer

    script(src="js/scripts.js")

