doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="css/style.css")
        title Дешевше - інтернет магазин необхідних товарів для всієї родини
    body#body
        header
            .fixed-header
                include components/header
        main.wrapper
            p.page-look.d-flex
                a(href="index.html") головна
                span /
                a(href="#")  кошик
                span /
                span.selected-page оформлення замовлення
            .grid.basket-grid.order-grid
                .basket-main 
                    .head-basket.order-head.flex-between.item-center
                        h1 Оформлення замовлення
                    .order-block 
                        p.flag-order 
                            span Увійдіть в акаунт, 
                            | щоб використовувати збережені дані і відслідковувати замовлення в особистому кабінеті
                        .order-form 
                            form(action="#") 
                                .flex-between.filter-header-block   
                                    h2 Ваші дані:
                                    a(href="#").d-flex.item-center
                                        span очистити
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8" fill="none">
                                            <path d="M6.99998 1.00002L1 7M0.999975 1L6.99995 6.99998" stroke="#121212" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                .personal-form 
                                    .flex-between.item-center.form-flex
                                        .order-form-personal
                                            p 
                                                label(for="name") Імʼя*
                                            p 
                                                input#name(type="text", name="name" required placeholder="Імʼя")
                                        .order-form-personal
                                            p 
                                                label(for="lastname") Прізвище*
                                            p 
                                                input#lastname(type="text", name="lastname" required placeholder="Прізвище")
                                    .flex-between.item-center.form-flex
                                        .order-form-personal
                                            p 
                                                label(for="secondName") По батькові*
                                            p 
                                                input#secondName(type="text", name="secondName" required placeholder="По батькові")
                                        .order-form-personal
                                            p 
                                                label(for="userPhone") Телефон*
                                            p 
                                                input#userPhone.inputMask(type="tel", name="userPhone" required placeholder="Телефон")
                                .filter-header-block   
                                    h2 Оберіть спосіб доставки:
                                    .d-flex.item-center.post-icon
                                        p 
                                            label(for="ukrPoshta") 
                                                input(type="radio" id="ukrPoshta" name="poshta")
                                        p 
                                            label(for="novaPoshta") 
                                                input(type="radio" id="novaPoshta" name="poshta")
                                        p 
                                            label(for="meest") 
                                                input(type="radio" id="meest" name="poshta")
                                    .item-center.post-radio#novaPostMeest
                                        p.d-flex.item-center
                                            input(type="radio" id="viddilenia" name="adress")
                                            label(for="viddilenia")
                                            span Відділення
                                        p.d-flex.item-center 
                                            input(type="radio" id="adress" name="adress")
                                            label(for="adress")
                                            span Курʼєр
                                        p.d-flex.item-center#postomatOption
                                            input(type="radio" id="poshtomat" name="adress")
                                            label(for="poshtomat")
                                            span Поштомат
                                    .item-center.post-radio#ukrPostRadio
                                        p.d-flex.item-center
                                            input(type="radio" id="viddileniaExpres" name="adress")
                                            label(for="viddileniaExpres")
                                            span Експрес доставка у відділення
                                        p.d-flex.item-center 
                                            input(type="radio" id="viddileniaUkr" name="adress")
                                            label(for="viddileniaUkr")
                                            span Доставка у відділення
                                        p.d-flex.item-center#postomatOption
                                            input(type="radio" id="curierExpres" name="adress")
                                            label(for="curierExpres")
                                            span Експрес доставка кур'єром
                                        p.d-flex.item-center#postomatOption
                                            input(type="radio" id="curierUkr" name="adress")
                                            label(for="curierUkr")
                                            span Доставка кур'єром
                                    .item-center.post-radio.cityVilage#cityVilageOptions
                                        p.d-flex.item-center
                                            input(type="radio" id="city" name="cityVilage")
                                            label(for="city")
                                            span Місто
                                        p.d-flex.item-center 
                                            input(type="radio" id="vilage" name="cityVilage")
                                            label(for="vilage")
                                            span Село
                                .filter-header-block#forCityAdress   
                                    h2 Адреса одержувача:
                                    .flex-between
                                        .select-order
                                            p Область*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#oblastAdress(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Область
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська

                                        .select-order
                                            p Район*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#regionAdress(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Район
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська
                                    .flex-between
                                        .select-order
                                            p Населений пункт*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#nasPunktAdress(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Населений пункт
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська
                                        .select-order
                                            p Вулиця*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#streetAdress(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Вулиця
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська
                                    .flex-between
                                        .select-order
                                            p Номер будинку
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#numberHouseAdress(required name="oblast" placeholder="Область").select-placeholder
                                                    option.gray(disabled selected hidden value="0") Номер будинку
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська
                                        .order-form-personal.form-flex
                                            p 
                                                label(for="numbApart") Номер квартири
                                            p 
                                                input#numbApart(type="number", name="numbApart" placeholder="Номер квартири ")
                                .filter-header-block#forCityViddilenia   
                                    h2 Адреса одержувача:
                                    .grid.form-post-grid
                                        .select-order
                                            .select-order
                                            p Регіон/Область**
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#oblastViddilenia(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Область
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська

                                        .select-order
                                            p Населений пункт*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#oblastViddileniaPunkt(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Населений пункт
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська
                                        .select-order
                                            p Відділення пошти*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#viddileniaPostCity(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Населений пункт
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                .filter-header-block#forVilage  
                                    h2 Адреса одержувача:
                                    .flex-between
                                        .select-order
                                            p Регіон/Область**
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#oblastVillage(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Область
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська

                                        .select-order
                                            p Район*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#regionVillage(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Район
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська
                                    .flex-between
                                        .select-order
                                            p Село*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#vilageSelect(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Населений пункт
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська
                                        .select-order
                                            p Відділення пошти*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#oblast(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Вулиця
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська
                                .filter-header-block#forPostomat
                                    h2 Адреса одержувача:
                                    .grid.form-post-grid
                                        .select-order
                                            p Регіон/Область**
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#oblastPoshtomat(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Область
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська

                                        .select-order
                                            p Населений пункт*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#punktPostomat(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") Район
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська
                                        .select-order
                                            p Адреса поштомату*
                                            label.arrow-select
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none">
                                                    <path d="M11 1L6 6L1 1" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                                select#postomatAdressSelect(required name="oblast" placeholder="Область").select-placeholder
                                                    option(disabled selected hidden value="0") вулиця
                                                    option(value="1") Хмельницька
                                                    option(value="2") Вінницька
                                                    option(value="3") Тернопільська
                                        
                                .filter-header-block.order-checkbox
                                    h2 Оберіть спосіб Оплати:
                                    p.d-flex.item-center
                                        input(type="checkbox" name="liqpay" id="liqpay")
                                        label(for="liqpay") Liqpay одразу при оформленні замовлення
                                    p.d-flex.item-center
                                        input(type="checkbox" name="iban" id="iban")
                                        label(for="iban") Оплата на рахунок (за реквізитами IBAN)
                                    p.d-flex.item-center
                                        input(type="checkbox" name="oplata3" id="oplata3")
                                        label(for="oplata3") Оплата на місці (готівкою чи терміналом)
                                    p.d-flex.item-center
                                        input(type="checkbox" name="viddileniaNP" id="viddileniaNP")
                                        label(for="viddileniaNP") На відділенні Нової Пошти при отриманні
                                    p.d-flex.item-center
                                        input(type="checkbox" name="PayPal" id="PayPal")
                                        label(for="PayPal") PayPal
                                .order-checkbox.callBack
                                    p.d-flex.item-center
                                        input(type="checkbox" name="callBack" id="callBack")
                                        label.fw(for="callBack") Мені можна не телефонувати для підтвердження замовлення.
                                button(type="submit").btn-card.yellow-cta.order-cta-mobile оформити замовлення
                .form-comment.order-aside-form
                    form(action="#")
                        .head-comment-form.order-form-card
                            p ваше замовлення
                            .order-succes-form
                                - for(let i = 0; i < 4; i++)
                                    .flex-between.item-center.order-card 
                                        .order-descr-card
                                            p.img-order
                                                picture 
                                                    img(src="img/catalog-card.png", alt="")
                                            .description-order 
                                                p.head-cart Джинсові шорти
                                                p.text-cart.d-flex.item-center
                                                    span Колір: 
                                                    span.color-cart
                                                p.text-cart Розмір: 
                                                    span S
                                                p.text-cart Кількість: 
                                                    span 1
                                                .order-price.mobile-price
                                                    p 800₴
                                        .order-price.desctop-price
                                            p 800₴
                                    hr.order-hr
                        .sum-basket.flex-between.item-center
                            p.text-sum Разом:
                            p.sum 3200₴
                        //- a(href="order.html").btn-card.yellow-cta оформити замовлення
                        button(type="submit").btn-card.yellow-cta.order-cta-desctop оформити замовлення

        footer 
            include components/footer

        script(src="js/scripts.js")
