doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
        link(rel="stylesheet" href="css/style.css")
        title Дешевше - інтернет магазин необхідних товарів для всієї родини
    body#body
        header
            .fixed-header
                include components/header
        main.wrapper
            p.page-look.d-flex
                a(href="index.html") головна
                span /
                span.selected-page співпраця
            .head-basket.flex-between.item-center
                h1 співпраця
            section.spivpracia-section
                .description-spivpracia
                    //- p.head-descript Товари зі складів у Туреччині:
                    //- ul.list-descript 
                    //-     li Жодного ризику, адже за товар, який надходить із Туреччини, клієнт сплачує лише після отримання.
                    //-     li У клієнта є можливість дати рекомендації щодо пошуку необхідного для нього товару.
                    //-     li Ніяких клопотів, адже шукають необхідний товар та ведуть переговори з виробниками, щоб клієнт отримав замовлення за найкращими цінами, наші менеджери.
                    //-     li Доставку замовлення необхідно чекати 4-10 днів (терміни доставки залежать від завантаженості пунктів пропуску на кордоні, графіка роботи митниці та швидкості проходження митних процедур тощо.).
                    //-     li Якщо відбувається затримка товару, клієнту одразу ж це повідомляють менеджери SuperPrice.ua.
                    //- hr.descript-card
                    p.head-descript Товари зі складів в Україні:
                    ul.list-descript 
                        li А тут все максимально просто! Замовив – отримав.
                        li Відправляємо в найкоротші терміни.
                    hr.descript-card
                    p.head-descript Умови співпраці по дропшипінгу:
                    p.umovy-text Для початку співпраці необхідно зв'язатися з нашим менеджером за допомогою телефону або будь-якого месенджера. Це дозволить обговорити умови партнерства, включаючи формат співпраці та канали продажу, наприклад, інтернет-магазини чи соціальні мережі. Після узгодження умов Ви отримуєте статус Дроппартнера. За Вашим бажанням, ми також можемо налаштувати експорт даних про товари; для цього надішліть необхідну інформацію нашому менеджеру.
                    p.umovy-text Замовлення відправляються та доставляються за допомогою перевізників "Нова Пошта" та "Укрпошта" по всій території України. Вартість доставки розраховується за тарифами відповідного перевізника.
                    hr.descript-card
                    p.head-descript Обов'язкові умови співпраці:
                    ul.list-descript 
                        li Встановлення цін на продаж має відповідати роздрібному типу цін з нашого прейскуранта.
                        li Дроппартнер має право розміщувати нашу продукцію на власних платформах та маркетплейсах.
                        li Умови повернення продукції визначають, що витрати на повернення покриваються кінцевим покупцем або дроппартнером.
                        li Комісійні відсотки за банківські перекази, пов'язані з виплатами між дроппартнером та кінцевим покупцем, лягають на плечі дроппартнера.
                    hr.descript-card
                    p.head-descript Процедура оформлення замовлення:
                    ul.list-descript 
                        li Отримавши замовлення від покупця, Ви маєте створити відповідне замовлення у системі "Нова Пошта" чи "Укрпошта".
                        li Оплатіть товар та  надішліть менеджеру чек, сформовану ТТН та код товару.
                        li Ми збираємо та відправляємо Ваше замовлення.
                        li Покупець оплачує і отримує замовлення.
                    hr.descript-card.last-hr-spvp
                    .flag-order.spivpracia-flag
                        p У разі якщо клієнт бажає повернути товар, що залишився у недоторканному стані та має збережений товарний вигляд, можливе оформлення запиту на повернення.
                .top-prodaz-main
                    section.top-prodaz
                        h2 топ продажів
                        .wrapper-card
                            .main-top-prodaz
                                - for(let i = 0; i < 7; i++) 
                                    include components/catalog-card
                            .mobile-top-prodaz
                                - for(let i = 0; i < 4; i++) 
                                    include components/catalog-card
                        //- .catalog-cta-center
                        //-     a(href="catalog.pug").yellow-cta в каталог
                    .view-all
                        .flex-between 
                            a(href="#").left-arrow.gray-sircle 
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                    <path d="M23 13L15 20.5L23 28" stroke="#121212" stroke-linecap="round"/>
                                </svg>
                            a(href="#").right-arrow.gray-sircle 
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                    <path d="M17 13L25 20.5L17 28" stroke="#121212" stroke-linecap="round"/>
                                </svg>
                        a(href="#") показати усі 
                    
        footer 
            include components/footer
        script(src="js/scripts.js")