.card-main
    padding-bottom: 50rem
    
.img-block-mobile
    display: block
    +media(1024)
        display: none
.img-slider
    position: relative
    width: 100%
    min-height: 65vh
    img
        width: 100%
        height: 100%
        object-fit: cover

.btn-slider
    padding: 10px 0 20px
    display: flex
    justify-content: center
    column-gap: 5px
    input
        position: relative
        appearance: none
        width: 20px
        height: 20px
        border-radius: 50%
        border: 1px solid #121212
        &:checked  
            outline: 1px solid #121212
            border: 2px solid #fff
            background-color: #1E4284
            border-radius: 50%
            
.mobile-slider
    position: absolute
    top: 0
    left: 0
    opacity: 0
    transition: opacity .25s ease
    &.active
        opacity: 1
.img-block
    max-height: 55vw
    +media(1250)
        max-height: 40vw
    +media(1440)
        max-height: 40vw

.card-main,
.img-block
    +media(1024)
        display: grid
        column-gap: 20rem
        grid-template-columns: 1fr 1fr

.img-block
    display: none
    grid-template-columns: 120rem 73%
    grid-column-gap: 20rem
    width: 100%
    height: 100%
    overflow: hidden
    +media(1024)
        display: grid
        grid-template-columns: 1.5fr 4fr
    img
        width: 100%
        height: 100%
        object-fit: cover

.small-img
    position: relative
    display: grid
    row-gap: 5rem
    grid-template-rows: 1fr
    overflow: hidden

.carousel-card
    display: grid
    row-gap: 5rem
    grid-template-rows: 1fr 1fr 1fr
    transition: all .5s aese

.small-img-parent
    width: 100%
    min-width: 100px
    min-height: 180px
    img
        width: 100%
        // max-height: 200rem
        object-fit: cover

.btn
    display: none
    width: 100%
    position: absolute
    padding: 5rem 0
    background-color: #fff
    // border: 1rem solid #D9D9D9
    transition: all .5s ease
    z-index: 3
    svg
        position: relative
        path
            position: absolute
            top: 50%
            left: 50%
            transform: translate(47%, 20%)

.btn-prev
    bottom: 0%
    // +media(1300)
    //     bottom: -2%
    // +media(1440)
    //     bottom: -6%
    // +media(1960)
    //     bottom: -15.5%

.btn-next
    top: 0
    left: 50%
    transform: translateX(-50%)

.header-card
    h1
        margin-bottom: 30rem
        text-align: left
        font-size: 30rem
        font-weight: 500
        +media(1440)
            margin-bottom: 40rem
            font-size: 36rem
    .price-block,
    .article
        padding: 0
.description-card
    padding-bottom: 50rem
.color,
.form-card,
.description-card
    p, a
        color: #121212
        margin-bottom: 10rem
        font-size: 16rem
        font-weight: 500
        +media(1440)
            margin-bottom: 15rem
    a
        text-decoration: underline
.color-input,
.color
    column-gap: 10rem
    input[type="radio"]
        position: relative
        appearance: none
        -webkit-appearance: none
        width: 20rem
        height: 20rem
        border-radius: 50%
        background-color: red
        cursor: pointer
        z-index: 4
        &:checked
            // border-width: 5px        
            outline: 1px solid #000
            border-radius: 50%
        // &:disabled
            // background: linear-gradient
            // &::before
            //     content: ""
            //     position: absolute
                // width: 100%
                // height: 100%
                // border-radius: 50%
            // &::after
            //     content: ""
            //     position: absolute
            //     top: 50%
            //     left: 0
            //     width: 100%
            //     border-top: 1px solid #000
            //     transform: rotate(-45deg)
            //     z-index: 10

.sale-procent
    color: #EC0F0F
    font-size: 16rem
    font-weight: 500
    text-transform: uppercase
.card-hr
    margin: 0
    margin: 23rem 0 20rem
    width: 100%
    border: none
    border-top: 1rem solid #D9D9D9
    +media(1960)
        margin: 53rem 0 50rem
.size-card
    padding: 10px 0 50px
    column-gap: 10rem
    +media(1024)
        padding: 10px 0 20px
    input
        display: none
    input + label
        display: inline-block
        position: relative
        // width: 25rem
        width: 100%
        max-width: 45rem
        height: 25rem
        border: 1rem solid #D9D9D9
    input:checked + label
        color: #121212
        border: 1rem solid #1E1E1E
    input:disabled + label
        color: #9E9E9E
    label
        span
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)

p.descript-text
    font-size: 16rem
    font-weight: 400
.btn-block
    gap: 20rem
    flex-wrap: wrap
    +media(1024)
        flex-wrap: nowrap

.btn-card
    width: 100%
    // height: 50px
    max-height: 70rem
    border: none
    cursor: pointer
.haracteristic-btn
    position: relative
    display: grid
    gap: 10rem
    grid-template-columns: 1fr   
    a
        text-align: left
        +media(1024)
            text-align: center                   
    +media(1024)
        grid-template-columns: repeat(4, 1fr)

.description-product,
.haracteristic-block,
.comment-card,
.delivery-card
    +media(1024)
        display: none

.description-product.active,
.haracteristic-block.active,
.comment-card.active,
.delivery-card.active
    display: block
    padding-top: 30rem

.transparent-cta.active
    color: #fff
    background: #214498
    border: 1rem solid #214498
.transparent-cta.readmore
    &::after
        right: 20px
        
.transparent-cta.readmore-active
        color: #fff
        background: #214498
        border: 1rem solid #214498
        &::after
            border-color: #fff
            right: 20px

.transparent-cta
    color: #121212
    max-height: 70rem
    padding: 20rem
    background-color: transparent
    font-size: 16rem
    font-weight: 500
    text-align: center
    border: 1rem solid #121212
    text-transform: uppercase
    transition: all .25s ease
    +media(1440)
        font-size: 18rem
    +media(1024)
        &:hover
            color: #fff
            background: #214498
            border: 1rem solid #214498

.button-transparent
    justify-content: center
    column-gap: 10rem
    font-weight: 700
    letter-spacing: 0.9rem
    transition: all .25s ease
    svg
        path
            fill: #121212
    &:hover
        color: #fff
        background: #214498
        svg
            path
                fill: #fff

.description-product
    +media(1024)
        padding: 30rem 0
.text-product-descr
    margin-bottom: 25rem
    font-size: 18rem
    font-weight: 400
.descript-card
    margin: 0
    margin-bottom: 25rem
    border: none
    border-top: 1rem solid #D9D9D9

.head-descript
    margin-bottom: 15rem
    font-size: 18rem
    font-weight: 600
    text-transform: uppercase
.list-descript
    padding-bottom: 25rem
    li
        font-size: 18rem
        font-weight: 400
        position: relative
        padding-left: 30rem
        &::before
            content: ""
            position: absolute
            width: 3rem
            height: 3rem
            top: 50%
            left: 15rem
            background-color: #000
            border-radius: 50%
.comment-card-block
    width: 100%
    column-gap: 100rem
    flex-wrap: wrap
    +media(1024)
        flex-wrap: nowrap

.delivery-card
    li
        padding-bottom: 10rem

.head-delivery
    padding-bottom: 30rem
    font-size: 24rem
    font-weight: 600
    text-transform: uppercase
.popup-size-table
    position: relative
.size-table-popup
    display: none
    position: fixed
    top: 63%
    left: 50%
    width: 85vw
    padding: 30rem
    transform: translate(-50%, -50%)
    background: #FFF
    z-index: 9999
    +media(1840)
        padding: 50rem
    h2
        padding-bottom: 30rem
        margin: 0
        font-size: 24rem
        font-weight: 600
        text-transform: uppercase
    table
        width: 100%
        border-collapse: collapse
        td, th
            min-width: 200rem
            max-width: 200rem
            padding: 10rem
            text-align: center
            color: #121212
            font-size: 12rem
            text-transform: uppercase
            +media(1440)
                padding: 17rem
    thead
        tr
            border: 1rem solid #121212
            background: #D9D9D9
        th + th
            border-left: 1rem solid #121212
        th
            padding: 17rem
            font-weight: 500
    tbody
        tr
            &:nth-child(odd)
                background: #FFF
        tr
            &:nth-child(even)
                background: #F1F1F1
.popup-size-cta
    position: absolute
    top: 60px
    left: -90vw
    +media(1024)
        position: static
.table-block
    max-width: 85vw
    overflow-x: auto
.cancel-size-popup
    position: absolute
    top: 20rem
    right: 20rem
