figure
    position: relative

.flag
    position: absolute
    top: 9rem
    left: -7rem
    display: inline-block
    background-color: #FDF028
    z-index: 5
    &::before
        content: ""
        position: absolute
        left: 0
        bottom: -8rem
        border: 4rem solid transparent
        border-top-color: #FFC021
        border-right-color: #FFC021
    span
        display: inline-block
        max-width: 100rem
        max-height: 30rem
        padding: 5rem 30rem
        font-size: 16rem
        font-weight: 400
        text-transform: uppercase
.card
    position: relative
    min-width: 140px
    cursor: pointer
    a
        position: absolute
        width: 100%
        height: 100%
    picture
        position: relative
        display: inline-block
        width: 100%
        height: 100%
        overflow: hidden
        z-index: 4
    img
        width: 100%
        object-fit: contain
        transition: all .5s ease
        &:hover
            transform: scale(1.15)
.oneClick-text
    display: none
    font-size: 14px
    font-weight: 500
    padding-bottom: 5px
button.oneClick
    display: none
    span
        display: inline-block
        padding-right: 5px
    &:hover
        svg
            path
                fill: #121212
                stroke: #121212
// .card-clone
//     background-color: #fff
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
//     transition: all 0.3s ease
//     .haracteristic-block-card
//         padding: 0 10px

.hover-card
    h3
        min-height: 60rem
        padding: 15rem 0 10rem
        font-size: 16rem
        font-weight: 500
        box-sizing: content-box
        +media(1024)
            padding: 20rem 0 15rem

.price-block
    column-gap: 10rem
    padding-bottom: 10rem
    +media(1024)
        padding-bottom: 15rem

.price
    font-size: 24rem
    font-weight: 700
    text-transform: uppercase

.old-price
    font-size: 16rem
    font-weight: 300
    text-decoration: line-through
    text-transform: uppercase
    opacity: .5
.color, .size
    column-gap: 10rem
    padding-bottom: 10rem

.article
    padding-bottom: 10rem
    color: #9E9E9E
    font-size: 14rem
    font-weight: 400
    +media(1024)
        padding-bottom: 15rem

.size
    input
        position: absolute
        appearance: none
        width: 30rem
        height: 20rem
        cursor: pointer
        z-index: 4
    input + label
        display: inline-block
        font-size: 18rem
        font-weight: 400
        text-transform: uppercase
        color: #121212
        &:hover
            color: #214498
    input:checked + label
        color: #214498

.submit-btn
    position: relative
    display: block
    width: 100%
    max-height: 60rem
    border: none
    font-size: 18rem
    font-weight: 700
    letter-spacing: 0.9rem
    text-align: center
    text-transform: uppercase
    z-index: 4

.blue-btn
    font-size: 12px
    padding: 10rem
    color: #FFF
    background-color: #214498
    transition: all .25s ease
    cursor: pointer
    +media(1024)
        font-size: 18rem
        padding: 19rem
    &:hover
        color: #121212
        background: #FDF028
