.comment-section-page
    padding-bottom: 100px
.comment-head-page
    margin: 0
    padding: 47px 0 30px
    text-align: left
    font-size: 24px
    font-weight: 600
    text-transform: uppercase
.comment-items
    padding-bottom: 50px
.comment
    margin-bottom: 10px
    box-shadow: 0px 5px 10px 0px rgba(18, 18, 18, 0.05)
.head-comment
    padding: 20px
    background: #F1F1F1
    p
        font-size: 14px
        font-weight: 600
.descript-comment
    padding: 20px
    border: 1px solid #D9D9D9
    border-top: none
    background: #FFF
    p
        font-size: 14px
        font-weight: 400
