.footer
    padding: 37rem 0 170rem
    +media(1024)
        padding: 37rem 0 40rem
.footer-hr
    width: 100%
    border: none
    border-top: 5rem solid #214498

.footer-head
    margin-bottom: 14rem
    font-size: 18rem
    font-weight: 600
    text-transform: uppercase

.footer
    nav
        padding-bottom: 20px
    ul
        min-width: 200rem
    li
        margin-bottom: 5rem
        a
            color: #121212
            font-size: 16rem
            font-weight: 400
            transition: all .5s ease
            &:hover
                font-weight: 600
.privacyPolice
    position: relative
    padding-top: 36rem
    p
        font-size: 14rem
        font-weight: 500
    p:first-child
        margin-bottom: 26rem
        a
            color: #121212
            text-decoration-line: underline
            transition: all .3s ease
            &:hover
                color: #214498
    p:last-child
        column-gap: 5rem
.copyright
    position: absolute
    left: -40vw
    bottom: -40vw
    +media(375)
        left: -30vw
    +media(768)
        left: -12vw
        bottom: -15vw
    +media(1024)
        position: static

.mobile-fixed-footer
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    grid-template-columns: repeat(3, 1fr)
    border-top: 1px solid #1E4284
    background: #1E4284
    // backdrop-filter: blur(2.5px) 
    z-index: 999
    a
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        row-gap: 5px
        padding: 11px
        color: #fff
        font-size: 10px
        font-weight: 400
        text-align: center
        img
            width: 17px
            height: 17px

    a + a
        border-left: 1px solid #fff
    +media(1024)
        display: none

.footer-mail
    flex-wrap: wrap
    
