.form-comment, .order-form 
    width: 100%
    min-width: 300rem
    .head-comment-form
        text-align: center
        padding: 23px 0
        +media(1024)
            padding: 0 0 23px 0
    p
        font-weight: 600
        text-transform: uppercase
    label
        display: inline-block
        margin-bottom: 10rem
        font-size: 14rem
        font-weight: 500
        text-transform: none
    input, textarea
        padding: 15rem 10rem
        width: 100%
        outline: none
        border: 1rem solid #D9D9D9
        border-radius: none
    input::placeholder,
    textarea::placeholder
        color: #D9D9D9
        font-weight: 400
        font-family: Montserrat
    textarea
        margin-bottom: 20rem
        min-height: 120rem
        resize: none
    button
        min-width: 300rem
    +media(1440)
        min-width: 365rem

.form-comment
    p
        font-size: 24rem
