.header-navigation
    background-color: #214498
    position: relative
.flag-UA
    position: absolute
    width: 58px
    top: 5px
    left: 0
    height: 80%
    z-index: 99
    +media(1024)
        bottom: -20%
        left: 2%
        width: 85rem
        height: 80%

.sub-menu-main,
.help-sub-menu,
.second-subMenu
    display: none

.navigation-menu-catalog
    position: absolute
    top: -62px
    left: -100%
    width: 80%
    height: 120vh
    padding: 50rem 20rem
    background-color: #214498
    z-index: 100
    transition: all .5s ease
    +media(1024)
        position: relative
        top: 0
        left: 0
        padding: 0
        display: flex
        height: auto
        overflow: none
        justify-content: space-between
        z-index: 2
    a
        display: block
        padding: 15rem 35rem 15rem 15rem
        color: #fff
        font-size: 16rem
        font-weight: 600
        letter-spacing: 0.8rem
        text-transform: uppercase
        transition: all .5s ease

.hover-help-menu
    display: block
    position: absolute
    padding: 30rem
    min-width: 300rem
    top: 100%
    left: 42%
    transform: translateX(-50%)
    background-color: #fff
    z-index: 20
    a
        padding: 0
        padding-bottom: 15rem
        color: #121212
        font-size: 14rem
        font-weight: 500
        transition: .25s
        &:hover
            font-weight: 600

.hover-sub-menu
    position: absolute
    top: 100%
    left: 0
    display: flex
    align-items: flex-start
    column-gap: 37rem
    padding: 31rem 0 54rem
    width: 100%
    max-height: 80vh
    background-color: #fff
    border-top: 10rem solid transparent
    overflow-x: auto
    z-index: 20
    &::-webkit-scrollbar
        width: 5rem
        background-color: #ccc
    &::-webkit-scrollbar-thumb
        background-color: #929090

a.yellow-header-hover
    color: #F1E12F
    svg
        top: 40%
        transform: rotate(180deg)
    svg > path
        stroke: #F1E12F

.black-fon-style,
.black-fon-popup
    position: fixed
    top: 159rem
    left: 0
    width: 100%
    height: 100%
    background: rgba(0, 0, 0, 0.50)
    z-index: 10
    +media(1440)
        top: 154.5rem

.down-menu
    position: relative
    svg
        transition: all .5s ease
        right: 5rem
        path
            stroke: #fff
.sub-menu
    position: relative
    min-width: 295rem
    svg
        path
            fill: #fff
            +media(1024)
                fill: #121212
    > li
        transition: all .3s ease
        padding: 7rem 7rem 7rem 50rem
    a
        padding: 0
        color: #121212
        font-size: 16rem
        font-weight: 500
        letter-spacing: 0.8rem
        text-transform: uppercase
        span
            display: inline-block
            padding-left: 5rem
        
.hover-sub-sub-a
    background: #D7D9DF
    a
        color: #214498
        svg 
            path
                fill: #214498
.subSecond-hover
    position: absolute
    top: 0
    left: 100%
    display: flex
    justify-content: space-around
    min-width: 60vw
    width: 100%
    ul
        min-width: 170rem
        display: block
    p
        font-size: 16rem
        font-weight: 500
        padding: 8rem 0 18rem
        color: #000
    a
        padding: 0 0 15rem 0
        color: #121212
        font-size: 14rem
        font-weight: 300
        text-transform: none
        transition: .25s
        &:hover
            font-weight: 600
.item
    &:hover
        > .default-menu
            display: none

.d-block
    display: block !important

.default-menu
    width: 100%
    position: absolute
    top: 0
    left: 100%
    display: flex
    justify-content: space-around
    min-width: 60vw
    p
        padding: 8rem 0 18rem
        color: #000
        font-size: 16rem
        font-weight: 500
    ul
        display: block
        padding-left: 0
        min-width: 170rem
        li
            a
                padding: 0 0 15rem 0
                font-size: 14rem
                font-weight: 300
                text-transform: none
                transition: .25s
                color: #121212
                &:hover
                    font-weight: 600

