.header
    padding: 30px 0

.contact
    p
        column-gap: 5rem
    p:first-child
       margin-bottom: 10rem 
    a
        color: #121212
        font-size: 12rem
        font-weight: 400

.search-block
    max-width: 365rem
    min-width: 300rem
    position: relative
    input
        width: 100%
        padding: 12px 10px
        outline: none
        border: none
        border: 1px solid #9E9E9E
    button
        position: absolute
        top: 0
        right: 0
        width: 40px
        height: 100%
        transition: all .5s ease
        border: none
        background-color: #214498
        cursor: pointer
        &:hover
            background-color: #F1E12F