header
    padding-top: 62px
    position: relative
    z-index: 9999
    +media(1024)
        padding-top: 154.5rem

.fixed-header
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: #fff

.header
    position: relative
    background-color: #fff
    padding: 15px 0
    z-index: 25
    flex-wrap: wrap
    row-gap: 15px
    justify-content: space-between
    +media(1024)
        padding: 30px 0
        flex-wrap: nowrap

.logo
    padding-left: 10px
    width: 125px
    height: 25px
    +media(768)
        padding: 0
        width: 250rem
        height: 50rem
    img
        width: 100%
.icon-mobile
    column-gap: 10px
    +media(1024)
        display: none
.mobile-cart
    +media(1024)
        display: none

.contact
    p
        column-gap: 5rem
    p:first-child
       margin-bottom: 10rem 
    a
        color: #121212
        font-size: 12rem
        font-weight: 400

.search-block
    display: none
    width: 100%
    min-width: 300rem
    position: relative
    +media(1024)
        display: block
        min-width: 200rem
        max-width: 250rem
    +media(1220)
        max-width: 365rem
    input
        width: 100%
        padding: 12px 10px
        outline: none
        border: none
        border: 1px solid #9E9E9E
    button
        position: absolute
        top: 0
        right: 0
        width: 40px
        height: 100%
        transition: all .5s ease
        border: none
        background-color: #214498
        cursor: pointer
        &:hover
            background-color: #F1E12F

.search-mobile-form
    display: block
    position: absolute
    bottom: -65%

.padding-for-search
    transition: all .25s ease
    padding-bottom: 50px
    
.header-btn
    svg
        path 
            transition: all .5s ease
            fill: #214498
        &:hover
            > path
                fill: #F1E12F

div.decstop-cart
    display: none
    +media(1024)
        display: flex
.decstop-contact
    display: none
    +media(1024)
        display: block


.burger,
.burger-admin
    position: relative
    display: block
    width: 40rem
    height: 40rem
    z-index: 5
    cursor: pointer
    +media(1024)
        display: none

.bord
    position: absolute
    top: 50%
    left: 0
    width: 100%
    height: 4rem
    background: #214498
    border-radius: 5px
    transform: translateY(-50%)
    z-index: 5
    &::before,
    &::after
        position: absolute
        content: ""
        width: 100%
        height: 4rem
        background: #214498
        border-radius: 5px
        z-index: 5
    &::before
        top: 10rem
        right: 0
    &::after
        right: 0
        bottom: 10rem

.cancel-menu
    position: absolute
    top: 20px
    right: 20px
    
